openapi: 3.1.0
info:
  title: eHealth PIS API — PROD
  version: "9.11.0.3 v.2"
  description: '**Version: 9.11.0.3 v.2**


    Environment: **PROD**


    This is a **PIS-related consumers part** of API documentation for Ukrainian Health Services government institution back-end, that should provide:


    * Patient sign-in with oAuth flow


    * Patient sign-in by confidant person with oAuth flow


    * Patient sign-up with oAuth flow


    * Patient sign-up by confidant person with oAuth flow


    * Patient data management (person details, person authentication methods, declarations, etc)


    ## Docs Structure


    This document contains both private and public (usually `/api/..`) API specifications. If you plan to use it as outside API consumer - please refer only to sections that marked as `Public`.


    The table below lists the actual API endpoints for all eHealth environments:


    Env     | Host

    --------|-----

    DEMO    | https://auth-demo.ehealth.gov.ua

    PREPROD | https://auth-preprod.ehealth.gov.ua

    PROD    | https://auth-preprod.ehealth.gov.ua'
servers:
  - url: https://api.ehealth.gov.ua
    description: PROD — eHealth ehealth-pis API
tags:
  - name: Public. Patient Information System
    description: "**Attention!**\nUse following HOSTs for oAuth 2.0 Authentication\n\nEnv     | Host\n--------|-----\nDEMO    | http://my-demo.ehealth.gov.ua \nPREPROD | https://my-preprod.ehealth.gov.ua\nPROD    | https://my.ehealth.gov.ua"
paths:
  /oauth/nonce:
    post:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: 200
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  data:
                    type: object
                    properties:
                      token:
                        example: "'eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJtaXRocmlsLWxvZ2luIiwiZXhwIjoxNTIzNDM5MjAxLCJpYXQiOjE1MjM0MzgzMDEsImlzcyI6IkVIZWFsdGgiLCJqdGkiOiJlZmUxZjA4ZS1kNGI0LTRjZWYtYTAyYy03OGVhNGExZGRhMjUiLCJuYmYiOjE1MjM0MzgzMDAsIm5vbmNlIjoxMjMsInN1YiI6MTIzLCJ0eXAiOiJhY2Nlc3MifQ.UZ6S92h3nAG"
                        type: string
                    required:
                      - token
                    additionalProperties: false
                  paging:
                    type: object
                    properties:
                      limit:
                        example: 20
                        type: number
                        description: 'A limit on the number of objects to be returned, between 1 and 100. Default: 50.'
                      cursors:
                        type: object
                        properties:
                          starting_after:
                            example: "56c31536a60ad644060041af"
                            type: string
                            description: A cursor for use in pagination. An object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.
                          ending_before:
                            example: "56c31536a60ad644060041aa"
                            type: string
                            description: A cursor for use in pagination. An object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.
                      size:
                        example: 1000
                        type: number
                        description: Total number of objects in collection.
                      has_more:
                        example: false
                        type: boolean
                        description: Is this collection have more data to load in the same style as last request loaded it.
                    required:
                      - limit
                      - cursors
                      - size
                      - has_more
                    additionalProperties: false
              example:
                meta:
                  code: 200
                  url: https://example.com/resource
                  type: object
                  request_id: 6617aeec-15e2-4d6f-b9bd-53559c358f97#17810
                data:
                  token: '''eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJtaXRocmlsLWxvZ2luIiwiZXhwIjoxNTIzNDM5MjAxLCJpYXQiOjE1MjM0MzgzMDEsImlzcyI6IkVIZWFsdGgiLCJqdGkiOiJlZmUxZjA4ZS1kNGI0LTRjZWYtYTAyYy03OGVhNGExZGRhMjUiLCJuYmYiOjE1MjM0MzgzMDAsIm5vbmNlIjoxMjMsInN1YiI6MTIzLCJ0eXAiOiJhY2Nlc3MifQ.UZ6S92h3nAG'
                paging:
                  limit: 20
                  cursors:
                    starting_after: 56c31536a60ad644060041af
                    ending_before: 56c31536a60ad644060041aa
                  size: 1000
                  has_more: false
      summary: Get nonce
      operationId: Get nonce
      description: This endpoint allows to get nonce (one time JWT) for active client of the system.
      tags:
        - Public. Patient Information System
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              client_id: 30074b6e-fbab-4dc1-9d37-88c21dab1847
              client_secret: c2778f3064753ea70de870a53795f5c9
            schema:
              type: object
              properties:
                client_id:
                  example: "30074b6e-fbab-4dc1-9d37-88c21dab1847"
                  type: string
                  description: Client identifier in the system.
                client_secret:
                  example: "c2778f3064753ea70de870a53795f5c9"
                  type: string
                  description: Required only for clients with `TRUSTED_PIS` client type.
              required:
                - client_id
  /sign-in:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
      summary: Patient sign-in
      operationId: Patient sign-in
      description: 'You MUST redirect your users to this URL to obtain oAuth Code Grant (which is later exchanged to Access Token).


        User will see rendered login page, which structure differ by a list of requested scopes and security measures applied by DevOps team.


        For security purposes, we will set `X-Frame-Options: deny` header that will disallow opening this page in an iframe.'
      tags:
        - Public. Patient Information System
      parameters:
        - name: client_id
          in: query
          description: Medical Service provider ID issued after legal_entity registration. Used to identify the context of the MSP/Pharmacy.
          required: true
          example: 6498d88e-97fb-47e2-85a5-99e884f888aa
          schema:
            type: string
        - name: redirect_uri
          in: query
          description: URL where user will be redirected after authentification. This url will receive `code` and `state` parameters in query string.
          required: true
          example: https://example.com/
          schema:
            type: string
        - name: scope
          in: query
          description: List of scopes that is required in application business logic, separated by space. Different login forms will be shown based on scopes that you requested.
          required: true
          example: capitation_contracts:view capitation_contracts:create patients:view patients:create
          schema:
            type: string
        - name: user_data
          in: query
          description: Auth request signed on client side
          example: base64_string
          schema:
            type: string
        - name: state
          in: query
          description: Randomly generated, opaque, and non-guessable string generated by client that will be transferred to client with grant code
          example: eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9
          schema:
            type: string
  /confidant/sign-in:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
      summary: Confidant patient sign-in
      operationId: Confidant patient sign-in
      description: 'You MUST redirect your users to this URL to obtain oAuth Code Grant (which is later exchanged to Access Token).


        User will see rendered login page, which structure differ by a list of requested scopes and security measures applied by DevOps team.


        For security purposes, we will set `X-Frame-Options: deny` header that will disallow opening this page in an iframe.'
      tags:
        - Public. Patient Information System
      parameters:
        - name: client_id
          in: query
          description: Medical Service provider ID issued after legal_entity registration. Used to identify the context of the MSP/Pharmacy.
          required: true
          example: 6498d88e-97fb-47e2-85a5-99e884f888aa
          schema:
            type: string
        - name: redirect_uri
          in: query
          description: URL where user will be redirected after authentification. This url will receive `code` and `state` parameters in query string.
          required: true
          example: https://example.com/
          schema:
            type: string
        - name: scope
          in: query
          description: List of scopes that is required in application business logic, separated by space. Different login forms will be shown based on scopes that you requested.
          required: true
          example: capitation_contracts:view capitation_contracts:create patients:view patients:create
          schema:
            type: string
        - name: user_data
          in: query
          description: Auth request signed on client side
          example: base64_string
          schema:
            type: string
        - name: state
          in: query
          description: Randomly generated, opaque, and non-guessable string generated by client that will be transferred to client with grant code
          example: eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9
          schema:
            type: string
  /oauth/tokens:
    post:
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: 201
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  data:
                    type: object
                    properties:
                      value:
                        example: "SnNRdCtvU0tTOENBV2dLRUZwNmIzZz09"
                        type: string
                        description: oAuth access token.
                      user_id:
                        example: "3ff33ced-69dc-415a-b231-c6446898335a"
                        type: string
                        description: User identifier
                      user:
                        type: object
                        properties:
                          person_id:
                            example: "2b5e9656-8750-49b3-8c5c-b9c344f8fe52"
                            type: string
                            description: Person identifier that is linked to user
                        description: Additional user params
                      name:
                        example: "change_password_token"
                        type: string
                        description: oAuth token name
                      id:
                        example: "3ff33ced-69dc-415a-b231-c6446898335a"
                        type: string
                        description: oAuth token identifier
                      expires_at:
                        example: 1498749591
                        type: number
                        description: expiration date-time timestamp
                      details:
                        type: object
                        properties:
                          app_id:
                            example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                            type: string
                            description: Identifier of approval between user, applicant user and client that was used to issue access token
                          applicant_user_id:
                            example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                            type: string
                            description: Identifier of user that initiated access token generation
                          applicant_person_id:
                            example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                            type: string
                            description: Identifier of person that is accosiated with user who initiated access token generation
                          scope:
                            example: "capitation_contracts:view capitation_contracts:create patients:view patients:create"
                            type: string
                            description: List of scopes that is required in application business logic, separated by space
                          grant_type:
                            example: "refresh_token"
                            type: string
                          client_id:
                            example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                            type: string
                            description: Client ID of authorized user.
                        required:
                          - scope
                          - client_id
                    required:
                      - value
                      - user_id
                      - user
                      - name
                      - id
                      - expires_at
                      - details
                    additionalProperties: false
                  paging:
                    type: object
                    properties:
                      limit:
                        example: 20
                        type: number
                        description: 'A limit on the number of objects to be returned, between 1 and 100. Default: 50.'
                      cursors:
                        type: object
                        properties:
                          starting_after:
                            example: "56c31536a60ad644060041af"
                            type: string
                            description: A cursor for use in pagination. An object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.
                          ending_before:
                            example: "56c31536a60ad644060041aa"
                            type: string
                            description: A cursor for use in pagination. An object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.
                      size:
                        example: 1000
                        type: number
                        description: Total number of objects in collection.
                      has_more:
                        example: false
                        type: boolean
                        description: Is this collection have more data to load in the same style as last request loaded it.
                    required:
                      - limit
                      - cursors
                      - size
                      - has_more
                    additionalProperties: false
              example:
                meta:
                  code: 201
                  url: https://example.com/resource
                  type: object
                  request_id: 6617aeec-15e2-4d6f-b9bd-53559c358f97#17810
                data:
                  value: SnNRdCtvU0tTOENBV2dLRUZwNmIzZz09
                  user_id: 3ff33ced-69dc-415a-b231-c6446898335a
                  user:
                    person_id: 2b5e9656-8750-49b3-8c5c-b9c344f8fe52
                  name: change_password_token
                  id: 3ff33ced-69dc-415a-b231-c6446898335a
                  expires_at: 1498749591
                  details:
                    app_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                    applicant_user_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                    applicant_person_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                    scope: capitation_contracts:view capitation_contracts:create patients:view patients:create
                    grant_type: refresh_token
                    client_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                paging:
                  limit: 20
                  cursors:
                    starting_after: 56c31536a60ad644060041af
                    ending_before: 56c31536a60ad644060041aa
                  size: 1000
                  has_more: false
      summary: Use Refresh Token for Access Token extension
      operationId: Use Refresh Token for Access Token extension
      description: 'This endpoint is used to renew access token using refresh token.


        It is available to renew access token as many time as needed during the lifetime of refresh token.'
      tags:
        - Public. Patient Information System
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              token:
                client_id: 6498d88e-97fb-47e2-85a5-99e884f888aa
                client_secret: msp-001-secret-key
                refresh_token: my-oauth-refresh-token
                grant_type: refresh_token
            schema:
              type: object
              properties:
                token:
                  type: object
                  properties:
                    client_id:
                      example: "6498d88e-97fb-47e2-85a5-99e884f888aa"
                      type: string
                      description: Medical Service provider ID issued after legal_entity registration. Used to identify the context of the MSP/Pharmacy.
                    client_secret:
                      example: "msp-001-secret-key"
                      type: string
                      description: Medical Service provider secret key issued upon integration request. Used to identify MSP.
                    refresh_token:
                      example: "my-oauth-refresh-token"
                      type: string
                      description: oAuth refresh token.
                    grant_type:
                      example: "refresh_token"
                      type: string
                      enum:
                        - refresh_token
                      description: oAuth Grant Type. Currently only `authorization_code` is supported.
                  required:
                    - client_id
                    - client_secret
                    - refresh_token
                    - grant_type
  /auth/logout:
    post:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: 200
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  data:
                    type: object
                    properties: {}
                    additionalProperties: false
                  paging:
                    type: object
                    properties:
                      limit:
                        example: 20
                        type: number
                        description: 'A limit on the number of objects to be returned, between 1 and 100. Default: 50.'
                      cursors:
                        type: object
                        properties:
                          starting_after:
                            example: "56c31536a60ad644060041af"
                            type: string
                            description: A cursor for use in pagination. An object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.
                          ending_before:
                            example: "56c31536a60ad644060041aa"
                            type: string
                            description: A cursor for use in pagination. An object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.
                      size:
                        example: 1000
                        type: number
                        description: Total number of objects in collection.
                      has_more:
                        example: false
                        type: boolean
                        description: Is this collection have more data to load in the same style as last request loaded it.
                    required:
                      - limit
                      - cursors
                      - size
                      - has_more
                    additionalProperties: false
              example:
                meta:
                  code: 200
                  url: https://example.com/resource
                  type: object
                  request_id: 6617aeec-15e2-4d6f-b9bd-53559c358f97#17810
                data: {}
                paging:
                  limit: 20
                  cursors:
                    starting_after: 56c31536a60ad644060041af
                    ending_before: 56c31536a60ad644060041aa
                  size: 1000
                  has_more: false
      summary: Logout
      operationId: Logout
      description: 'This endpoint is used to terminate users authenticated session based on a valid access token.


        Refresh token from authenticated session will also be expired.'
      tags:
        - Public. Patient Information System
      parameters:
        - name: Authorization
          in: header
          description: e.g. Bearer c2778f3064753ea70de870a53795f5c9
          required: true
          schema:
            type: string
          example: Bearer c2778f3064753ea70de870a53795f5c9
  /sign-up:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
      summary: Patient sign-up
      operationId: Patient sign-up
      description: 'You MUST redirect your users to this URL to register in the system


        User will see rendered registration page signed on PIS side and provided via query_params and will be able to confirm or reject this request'
      tags:
        - Public. Patient Information System
      parameters:
        - name: client_id
          in: query
          description: Medical Service provider ID issued after legal_entity registration. Used to identify the context of the MSP/Pharmacy.
          required: true
          example: 6498d88e-97fb-47e2-85a5-99e884f888aa
          schema:
            type: string
        - name: redirect_uri
          in: query
          description: URL where user will be redirected after authentification. This url will receive `code` and `state` parameters in query string.
          required: true
          example: https://example.com/
          schema:
            type: string
        - name: scope
          in: query
          description: List of scopes that is required in application business logic, separated by space. Different login forms will be shown based on scopes that you requested.
          required: true
          example: capitation_contracts:view capitation_contracts:create patients:view patients:create
          schema:
            type: string
        - name: user_data
          in: query
          description: Auth request signed on client side
          required: true
          example: base64_string
          schema:
            type: string
  /confidant/sign-up:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
      summary: Confidant patient sign-up
      operationId: Confidant patient sign-up
      description: 'You MUST redirect your authenticated users to this URL to register patient in the system via confidant patient


        User will see rendered registration page signed on PIS side and provided via query_params and will be able to confirm or reject this request'
      tags:
        - Public. Patient Information System
      parameters:
        - name: client_id
          in: query
          description: Medical Service provider ID issued after legal_entity registration. Used to identify the context of the MSP/Pharmacy.
          required: true
          example: 6498d88e-97fb-47e2-85a5-99e884f888aa
          schema:
            type: string
        - name: redirect_uri
          in: query
          description: URL where user will be redirected after authentification. This url will receive `code` and `state` parameters in query string.
          required: true
          example: https://example.com/
          schema:
            type: string
        - name: scope
          in: query
          description: List of scopes that is required in application business logic, separated by space. Different login forms will be shown based on scopes that you requested.
          required: true
          example: capitation_contracts:view capitation_contracts:create patients:view patients:create
          schema:
            type: string
        - name: user_data
          in: query
          description: Auth request signed on client side
          required: true
          example: base64_string
          schema:
            type: string
  /api/pis/apps:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: 200
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          example: "1380df72-275a-11e7-93ae-92361f002671"
                          type: string
                          description: Internal app ID, a UUID string.
                        created_at:
                          example: "2017-04-20T19:14:13Z"
                          type: string
                          description: ISO 8601 date and time in UTC timezone.
                        updated_at:
                          example: "2017-04-20T19:14:13Z"
                          type: string
                          description: ISO 8601 date and time in UTC timezone.
                        user_id:
                          example: "1380df72-275a-11e7-93ae-92361f002671"
                          type: string
                          description: Internal user ID, a UUID string.
                        applicant_user_id:
                          example: "1380df72-275a-11e7-93ae-92361f002671"
                          type: string
                          description: Internal user ID, a UUID string.
                        client_name:
                          example: "Clinic N1"
                          type: string
                          description: Internal client name, string.
                        client_id:
                          example: "1380df72-275a-11e7-93ae-92361f002671"
                          type: string
                          description: Internal client ID, a UUID string.
                        scope:
                          example: "notebooks:read notebooks:create patients:read"
                          type: string
                          description: Scope, in a space-delimited format.
                      required:
                        - created_at
                        - updated_at
                        - user_id
                        - applicant_user_id
                        - client_name
                        - client_id
                        - scope
                  paging:
                    type: object
                    properties:
                      page_number:
                        example: 2
                        type: number
                        description: Page number.
                      page_size:
                        example: 50
                        type: number
                        description: 'A limit on the number of objects to be returned, between 1 and 300. Default: 50'
                      total_entries:
                        example: 1000
                        type: number
                        description: Total number of objects in collection.
                      total_pages:
                        example: 23
                        type: number
                        description: Total number of pages.
                    required:
                      - page_number
                      - page_size
                      - total_entries
                      - total_pages
                    additionalProperties: false
              example:
                meta:
                  code: 200
                  url: https://example.com/resource
                  type: object
                  request_id: 6617aeec-15e2-4d6f-b9bd-53559c358f97#17810
                data:
                  - id: 1380df72-275a-11e7-93ae-92361f002671
                    created_at: '2017-04-20T19:14:13Z'
                    updated_at: '2017-04-20T19:14:13Z'
                    user_id: 1380df72-275a-11e7-93ae-92361f002671
                    applicant_user_id: 1380df72-275a-11e7-93ae-92361f002671
                    client_name: Clinic N1
                    client_id: 1380df72-275a-11e7-93ae-92361f002671
                    scope: notebooks:read notebooks:create patients:read
                paging:
                  page_number: 2
                  page_size: 50
                  total_entries: 1000
                  total_pages: 23
      summary: Get Approvals
      operationId: Get Approvals
      description: 'This endpoint is used to show all active approvals made by the user to different clients.


        Approvals are filtered by user from Authorization token.'
      tags:
        - Public. Patient Information System
      parameters:
        - name: client_names
          in: query
          description: List of Client name's separated by comma.
          example: client_name-Clinic N1,client_name-Clinic N2
          schema:
            type: string
        - name: client_ids
          in: query
          description: List of Client ID's separated by comma.
          example: client-1380df72-275a-11e7-93ae-92361f002671,client-1380e1de-275a-11e7-93ae-92361f002671
          schema:
            type: string
        - name: page_number
          in: query
          description: Page number.
          required: true
          example: '2'
          schema:
            type: number
        - name: page_size
          in: query
          description: 'A limit on the number of objects to be returned, between 1 and 100. Default: 50'
          required: true
          example: '50'
          schema:
            type: number
        - name: Authorization
          in: header
          description: e.g. Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9
          required: true
          schema:
            type: string
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9
        - name: api-key
          in: header
          description: e.g. uXhEczJ56adsfh3Ri9SUkc4en
          required: false
          schema:
            type: string
          example: uXhEczJ56adsfh3Ri9SUkc4en
  /api/pis/apps/{id}:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: 200
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  data:
                    type: object
                    properties:
                      id:
                        example: "1380df72-275a-11e7-93ae-92361f002671"
                        type: string
                        description: Internal app ID, a UUID string.
                      created_at:
                        example: "2017-04-20T19:14:13Z"
                        type: string
                        description: ISO 8601 date and time in UTC timezone.
                      updated_at:
                        example: "2017-04-20T19:14:13Z"
                        type: string
                        description: ISO 8601 date and time in UTC timezone.
                      user_id:
                        example: "1380df72-275a-11e7-93ae-92361f002671"
                        type: string
                        description: Internal user ID, a UUID string.
                      applicant_user_id:
                        example: "1380df72-275a-11e7-93ae-92361f002671"
                        type: string
                        description: Internal user ID, a UUID string.
                      client_name:
                        example: "Clinic N1"
                        type: string
                        description: Internal client name, string.
                      client_id:
                        example: "1380df72-275a-11e7-93ae-92361f002671"
                        type: string
                        description: Internal client ID, a UUID string.
                      scope:
                        example: "notebooks:read notebooks:create patients:read"
                        type: string
                        description: Scope, in a space-delimited format.
                    required:
                      - created_at
                      - updated_at
                      - user_id
                      - applicant_user_id
                      - client_name
                      - client_id
                      - scope
              example:
                meta:
                  code: 200
                  url: https://example.com/resource
                  type: object
                  request_id: 6617aeec-15e2-4d6f-b9bd-53559c358f97#17810
                data:
                  id: 1380df72-275a-11e7-93ae-92361f002671
                  created_at: '2017-04-20T19:14:13Z'
                  updated_at: '2017-04-20T19:14:13Z'
                  user_id: 1380df72-275a-11e7-93ae-92361f002671
                  applicant_user_id: 1380df72-275a-11e7-93ae-92361f002671
                  client_name: Clinic N1
                  client_id: 1380df72-275a-11e7-93ae-92361f002671
                  scope: notebooks:read notebooks:create patients:read
      summary: Get Approval details
      operationId: Get Approval details
      description: 'This endpoint is used to show active approval details made by the user to client.


        Approval is filtered by user from Authorization token.'
      tags:
        - Public. Patient Information System
      parameters:
        - name: id
          in: path
          description: ''
          required: true
          example: approval-1380df72-275a-11e7-93ae-92361f002671
          schema:
            type: string
        - name: Authorization
          in: header
          description: e.g. Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9
          required: true
          schema:
            type: string
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9
        - name: api-key
          in: header
          description: e.g. uXhEczJ56adsfh3Ri9SUkc4en
          required: false
          schema:
            type: string
          example: uXhEczJ56adsfh3Ri9SUkc4en
    delete:
      responses:
        '204':
          description: No Content
          headers: {}
          content: {}
      summary: Delete Approval
      operationId: Delete Approval
      description: 'This endpoint is used to deauthorize approval made by the user to client.


        By deleting Approval all further exchanges of refresh token to access token will be prohibited. But existing access tokens (in JWT format) will be active till the expiration time occurs.'
      tags:
        - Public. Patient Information System
      parameters:
        - name: id
          in: path
          description: ''
          required: true
          example: approval-1380df72-275a-11e7-93ae-92361f002671
          schema:
            type: string
        - name: Authorization
          in: header
          description: e.g. Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9
          required: true
          schema:
            type: string
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9
        - name: api-key
          in: header
          description: e.g. uXhEczJ56adsfh3Ri9SUkc4en
          required: false
          schema:
            type: string
          example: uXhEczJ56adsfh3Ri9SUkc4en
  /api/pis/documents:
    post:
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: 201
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  data:
                    type: array
                    items: {}
              example:
                meta:
                  code: 201
                  url: https://example.com/resource
                  type: object
                  request_id: 6617aeec-15e2-4d6f-b9bd-53559c358f97#17810
                data:
                  - type: PASSPORT
                    url: https://storage.ehealth.world
      summary: Initialize Person documents upload
      operationId: Initialize Person documents upload
      description: 'This endpoint is used to initialize person documents uploading proccess. Person is obtained from Authorization token.


        Endpoint returns list of documents that need to be uploaded for person and urls. In case no documents must be uploaded - empty list is returned.


        After documents upload to urls, [Complete Person documents upload](#reference/public.-patient-information-system/documents/complete-person-documents-upload) method must be called.'
      tags:
        - Public. Patient Information System
      parameters:
        - name: Authorization
          in: header
          description: e.g. Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9
          required: true
          schema:
            type: string
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9
        - name: api-key
          in: header
          description: e.g. uXhEczJ56adsfh3Ri9SUkc4en
          required: false
          schema:
            type: string
          example: uXhEczJ56adsfh3Ri9SUkc4en
  /api/pis/documents/actions/complete:
    patch:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: 200
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  data:
                    type: array
                    items: {}
              example:
                meta:
                  code: 200
                  url: https://example.com/resource
                  type: object
                  request_id: 6617aeec-15e2-4d6f-b9bd-53559c358f97#17810
                data:
                  - type: PASSPORT
                    url: https://storage.ehealth.world
      summary: Complete Person documents upload
      operationId: Complete Person documents upload
      description: 'This endpoint must be used to complete person documents uploading proccess, after user uploaded documents to generated urls. Person is obtained from Authorization token.


        Endpoint checks list of documents that needs to be uploaded for person. In case all person documents were be uploaded - empty list is returned, persons nhs verification status is updated. In case more person documents must be uploaded - list of documents is returned.'
      tags:
        - Public. Patient Information System
      parameters:
        - name: Authorization
          in: header
          description: e.g. Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9
          required: true
          schema:
            type: string
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9
        - name: api-key
          in: header
          description: e.g. uXhEczJ56adsfh3Ri9SUkc4en
          required: false
          schema:
            type: string
          example: uXhEczJ56adsfh3Ri9SUkc4en
  /api/pis/person:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: 200
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  data:
                    type: object
                    properties:
                      id:
                        example: "7e9cffd9-c75f-45fb-badf-6e8d20b6a8a8"
                        type: string
                        description: person id
                      first_name:
                        example: "Петро"
                        type: string
                      last_name:
                        example: "Іванов"
                        type: string
                      second_name:
                        example: "Миколайович"
                        type: string
                      birth_date:
                        example: "1991-08-19"
                        type: string
                      birth_country:
                        example: "Україна"
                        type: string
                      birth_settlement:
                        example: "Вінниця"
                        type: string
                      gender:
                        example: "MALE"
                        type: string
                        enum:
                          - MALE
                          - FEMALE
                      email:
                        example: "email@example.com"
                        type: string
                      tax_id:
                        example: "3126509816"
                        type: string
                      no_tax_id:
                        example: true
                        type: boolean
                      secret:
                        example: "secret"
                        type: string
                      documents:
                        type: array
                        items:
                          allOf:
                          - $ref: '#/components/schemas/Document'
                          - type: object
                            properties:
                              type:
                                example: "PASSPORT"
                              number:
                                example: "АА120518"
                              expiration_date:
                                example: "2021-02-28"
                              issued_by:
                                example: "Рокитнянським РВ ГУ МВС Київської області"
                              issued_at:
                                example: "2017-02-28"
                      addresses:
                        type: array
                        items:
                          allOf:
                          - $ref: '#/components/schemas/Address'
                          - type: object
                            properties:
                              type:
                                example: "RESIDENCE"
                              country:
                                example: "UA"
                              area:
                                example: "Житомирська"
                              region:
                                example: "Бердичівський"
                              settlement:
                                example: "Київ"
                              settlement_type:
                                example: "CITY"
                              settlement_id:
                                example: "b075f148-7f93-4fc2-b2ec-2d81b19a9b7b"
                              street_type:
                                example: "STREET"
                              street:
                                example: "вул. Ніжинська"
                              building:
                                example: "15"
                              apartment:
                                example: "23"
                              zip:
                                example: 2090
                      phones:
                        type: array
                        items:
                          allOf:
                          - $ref: '#/components/schemas/Phone'
                          - type: object
                            properties:
                              type:
                                example: "MOBILE"
                              number:
                                example: "+380503410870"
                      preferred_way_communication:
                        example: "email"
                        type: string
                        enum:
                          - email
                          - phone
                        description: the way how a patient wants to be reached
                      unzr:
                        example: "19900101-00099"
                        type: string
                      emergency_contact:
                        type: object
                        properties:
                          first_name:
                            example: "Петро"
                            type: string
                          last_name:
                            example: "Іванов"
                            type: string
                          second_name:
                            example: "Миколайович"
                            type: string
                          phones:
                            type: array
                            items:
                              allOf:
                              - $ref: '#/components/schemas/Phone'
                              - type: object
                                properties:
                                  type:
                                    example: "MOBILE"
                                  number:
                                    example: "+380503410870"
                        required:
                          - first_name
                          - last_name
                          - phones
                      verification:
                        type: object
                        properties:
                          verification_status:
                            example: "NOT_VERIFIED"
                            type: string
                            description: status of person verification according to `PERSON_VERIFICATION_STATUSES` dictionary
                          details:
                            type: object
                            properties:
                              drfo:
                                type: object
                                properties:
                                  verification_status:
                                    example: "NOT_VERIFIED"
                                    type: string
                                    description: status of person DRFO verification according to `PERSON_VERIFICATION_STATUSES` dictionary
                                  verification_reason:
                                    example: "AUTO"
                                    type: string
                                    description: how current DRFO verification status has been set according to `PERSON_VERIFICATION_STATUS_REASONS` dictionary
                                  result:
                                    example: 12
                                    type: number
                                    description: result of person DRFO synchronization according to `DRFO_RESULT` dictionary
                                required:
                                  - verification_status
                                  - verification_reason
                              dracs_death:
                                type: object
                                properties:
                                  verification_status:
                                    example: "NOT_VERIFIED"
                                    type: string
                                    description: status of person DRACS death verification according to `PERSON_VERIFICATION_STATUSES` dictionary
                                  verification_reason:
                                    example: "AUTO"
                                    type: string
                                    description: how current DRACS death verification status has been set according to `PERSON_VERIFICATION_STATUS_REASONS` dictionary
                                  verification_comment:
                                    example: "Необхідно повторно підтвердити факт смерті у пацієнта"
                                    type: string
                                    description: DRACS death verification status description set by NHS or Doctor
                                required:
                                  - verification_status
                                  - verification_reason
                              nhs:
                                type: object
                                properties:
                                  verification_status:
                                    example: "NOT_VERIFIED"
                                    type: string
                                    description: status of person manual NHS verification according to `PERSON_VERIFICATION_STATUSES` dictionary
                                  verification_reason:
                                    example: "AUTO"
                                    type: string
                                    description: how current manual NHS verification status has been set according to `PERSON_VERIFICATION_STATUS_REASONS` dictionary
                                  verification_comment:
                                    example: "Бракує даних паспорту пацієнта та його ІПН"
                                    type: string
                                    description: verification status description set by NHS in case NOT_VERIFIED
                                required:
                                  - verification_status
                                  - verification_reason
                              unzr:
                                type: object
                                properties:
                                  verification_status:
                                    example: "NOT_VERIFIED"
                                    type: string
                                    description: status of person UNZR verification according to `PERSON_VERIFICATION_STATUSES` dictionary
                                  verification_reason:
                                    example: "AUTO"
                                    type: string
                                    description: how current UNZR verification status has been set according to `PERSON_VERIFICATION_STATUS_REASONS` dictionary
                                  status:
                                    example: 0
                                    type: number
                                    description: status of the UNZR record in EIS MVS register for the person. It is set by synchronization according to `EIS_MVS_STATUS` dictionary
                                required:
                                  - verification_status
                                  - verification_reason
                              mvs_passport:
                                type: object
                                properties:
                                  verification_status:
                                    example: "NOT_VERIFIED"
                                    type: string
                                    description: status of MVS passport verification for the person according to `PERSON_VERIFICATION_STATUSES` dictionary
                                  verification_reason:
                                    example: "AUTO"
                                    type: string
                                    description: how current MVS passport verification status has been set according to `PERSON_VERIFICATION_STATUS_REASONS` dictionary
                                  status:
                                    example: 1
                                    type: number
                                    description: status of the record in EIS MVS register for the passport document. It is set by synchronization according to `EIS_MVS_STATUS` dictionary
                                required:
                                  - verification_status
                                  - verification_reason
                              dms_passport:
                                type: object
                                properties:
                                  verification_status:
                                    example: "NOT_VERIFIED"
                                    type: string
                                    description: status of DMS passport verification for the person according to `PERSON_VERIFICATION_STATUSES` dictionary
                                  verification_reason:
                                    example: "AUTO"
                                    type: string
                                    description: how current DMS passport verification status has been set according to `PERSON_VERIFICATION_STATUS_REASONS` dictionary
                                  status:
                                    example: 1
                                    type: number
                                    description: status of the record in EIS MVS register for the passport document. It is set by synchronization according to `EIS_MVS_STATUS` dictionary
                                required:
                                  - verification_status
                                  - verification_reason
                              dracs_birth:
                                type: object
                                properties:
                                  verification_status:
                                    example: "NOT_VERIFIED"
                                    type: string
                                    description: status of person DRACS birth verification according to `PERSON_VERIFICATION_STATUSES` dictionary
                                  verification_reason:
                                    example: "AUTO_ONLINE"
                                    type: string
                                    description: how current DRACS birth verification status has been set according to `PERSON_VERIFICATION_STATUS_REASONS` dictionary
                                  verification_comment:
                                    example: "Необхідно повторно підтвердити дані свідоцтва про народження пацієнта"
                                    type: string
                                    description: DRACS birth verification status description set by NHS
                                required:
                                  - verification_status
                                  - verification_reason
                              dracs_name_change:
                                type: object
                                properties:
                                  verification_status:
                                    example: "VERIFIED"
                                    type: string
                                    description: Person DRACS name change verification status according to `PERSON_VERIFICATION_STATUSES` dictionary.
                                  verification_reason:
                                    example: "MANUAL_COMFIRMED"
                                    type: string
                                    description: Verification reason according to `PERSON_VERIFICATION_STATUS_REASONS` dictionary.
                                  verification_comment:
                                    example: "Пацієнт не замінював ПІБ"
                                    type: string
                                    description: Verification comment
                                required:
                                  - verification_status
                                  - verification_reason
                              legal_capacity:
                                type: object
                                properties:
                                  verification_status:
                                    example: "VERIFICATION_NOT_NEEDED"
                                    type: string
                                    description: Person Legal capacity verification status according to `PERSON_VERIFICATION_STATUSES` dictionary.
                                  verification_reason:
                                    example: "AUTO_DATA_ABSENT"
                                    type: string
                                    description: Verification reason according to `PERSON_VERIFICATION_STATUS_REASONS` dictionary.
                                required:
                                  - verification_status
                                  - verification_reason
                        required:
                          - verification_status
                    required:
                      - id
                      - first_name
                      - last_name
                      - birth_date
                      - birth_country
                      - birth_settlement
                      - gender
                      - no_tax_id
                      - secret
                      - documents
                      - addresses
                      - emergency_contact
                      - verification
              example:
                meta:
                  code: 200
                  url: https://example.com/resource
                  type: object
                  request_id: 6617aeec-15e2-4d6f-b9bd-53559c358f97#17810
                data:
                  id: 7e9cffd9-c75f-45fb-badf-6e8d20b6a8a8
                  first_name: Петро
                  last_name: Іванов
                  second_name: Миколайович
                  birth_date: '1991-08-19'
                  birth_country: Україна
                  birth_settlement: Вінниця
                  gender: MALE
                  email: email@example.com
                  tax_id: '3126509816'
                  no_tax_id: true
                  secret: secret
                  documents:
                    - type: PASSPORT
                      number: АА120518
                      expiration_date: '2021-02-28'
                      issued_by: Рокитнянським РВ ГУ МВС Київської області
                      issued_at: '2017-02-28'
                  addresses:
                    - type: RESIDENCE
                      country: UA
                      area: Житомирська
                      region: Бердичівський
                      settlement: Київ
                      settlement_type: CITY
                      settlement_id: b075f148-7f93-4fc2-b2ec-2d81b19a9b7b
                      street_type: STREET
                      street: вул. Ніжинська
                      building: '15'
                      apartment: '23'
                      zip: 2090
                  phones:
                    - type: MOBILE
                      number: '+380503410870'
                  preferred_way_communication: email
                  unzr: 19900101-00099
                  emergency_contact:
                    first_name: Петро
                    last_name: Іванов
                    second_name: Миколайович
                    phones:
                      - type: MOBILE
                        number: '+380503410870'
                  verification:
                    verification_status: NOT_VERIFIED
                    details:
                      drfo:
                        verification_status: NOT_VERIFIED
                        verification_reason: AUTO
                        result: 12
                      dracs_death:
                        verification_status: NOT_VERIFIED
                        verification_reason: AUTO
                        verification_comment: Необхідно повторно підтвердити факт смерті у пацієнта
                      nhs:
                        verification_status: NOT_VERIFIED
                        verification_reason: AUTO
                        verification_comment: Бракує даних паспорту пацієнта та його ІПН
                      unzr:
                        verification_status: NOT_VERIFIED
                        verification_reason: AUTO
                        status: 0
                      mvs_passport:
                        verification_status: NOT_VERIFIED
                        verification_reason: AUTO
                        status: 1
                      dms_passport:
                        verification_status: NOT_VERIFIED
                        verification_reason: AUTO
                        status: 1
                      dracs_birth:
                        verification_status: NOT_VERIFIED
                        verification_reason: AUTO_ONLINE
                        verification_comment: Необхідно повторно підтвердити дані свідоцтва про народження пацієнта
                      dracs_name_change:
                        verification_status: VERIFIED
                        verification_reason: MANUAL_COMFIRMED
                        verification_comment: Пацієнт не замінював ПІБ
                      legal_capacity:
                        verification_status: VERIFICATION_NOT_NEEDED
                        verification_reason: AUTO_DATA_ABSENT
      summary: Get Person details
      operationId: Get Person details
      description: This WS designed to get information of person by token.
      tags:
        - Public. Patient Information System
      parameters:
        - name: Authorization
          in: header
          description: e.g. Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9
          required: true
          schema:
            type: string
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9
        - name: api-key
          in: header
          description: e.g. uXhEczJ56adsfh3Ri9SUkc4en
          required: false
          schema:
            type: string
          example: uXhEczJ56adsfh3Ri9SUkc4en
  /api/pis/person/authentication_methods:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: 200
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  data:
                    type: array
                    items: {}
              example:
                meta:
                  code: 200
                  url: https://example.com/resource
                  type: object
                  request_id: 6617aeec-15e2-4d6f-b9bd-53559c358f97#17810
                data:
                  - id: b94893f5-b66b-4431-b023-d5b5c037caef
                    type: THIRD_PERSON
                    value: 34d4aca0-ee15-4d2d-9ab8-336e5ba1f9c7
                    alias: husband
                    ended_at: '2020-01-10 18:23:34.217335'
                    started_at: '2020-01-01 18:23:34.217335'
                    is_active: true
                    inserted_by: A65C8369-CE3A-44D6-839B-8856E3DC4CA3
                    updated_by: A65C8369-CE3A-44D6-839B-8856E3DC4CA3
                    person_id: 50320ee5-2bca-472c-a1a0-28e2e003ec2a
                    confidant_person:
                      name: Петров А.А.
                      phones:
                        - type: MOBILE
                          number: '+380932345685'
                    inserted_at: '2021-11-09T00:00:00.000Z'
                    updated_at: '2021-11-09T00:00:00.000Z'
                  - id: b84893f5-b66b-4431-b023-d5b5c037caef
                    type: OTP
                    phone_number: '+380932345485'
                    ended_at: '2020-01-10 18:23:34.217335'
                    started_at: '2020-01-01 18:23:34.217335'
                    is_active: true
                    inserted_by: A65C8369-CE3A-44D6-839B-8856E3DC4CA3
                    updated_by: A65C8369-CE3A-44D6-839B-8856E3DC4CA3
                    person_id: 50320ee5-2bca-472c-a1a0-28e2e003ec2a
                    inserted_at: '2021-11-09T00:00:00.000Z'
                    updated_at: '2021-11-09T00:00:00.000Z'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: 403
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  error:
                    type: object
                    properties:
                      type:
                        example: "forbidden"
                        type: string
                        description: Atom that represents error type.
                      message:
                        example: "Such person not found"
                        type: string
                        description: Human-readable error message. This is for developers, not end-users.
                    required:
                      - type
                      - message
                    additionalProperties: false
              example:
                meta:
                  code: 403
                  url: https://example.com/resource
                  type: object
                  request_id: 6617aeec-15e2-4d6f-b9bd-53559c358f97#17810
                error:
                  type: forbidden
                  message: Such person not found
      summary: Get Person authentication methods
      operationId: Get Person authentication methods
      description: This method allows to find the active person's authentication methods.
      tags:
        - Public. Patient Information System
      parameters:
        - name: Authorization
          in: header
          description: e.g. Bearer c2778f3064753ea70de870a53795f5c9
          required: true
          schema:
            type: string
          example: Bearer c2778f3064753ea70de870a53795f5c9
        - name: api-key
          in: header
          description: e.g. uXhEczJ56adsfh3Ri9SUkc4en
          required: false
          schema:
            type: string
          example: uXhEczJ56adsfh3Ri9SUkc4en
  /api/pis/person/verification:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: 200
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  data:
                    type: object
                    properties:
                      person_verification:
                        type: object
                        properties:
                          verification_status:
                            example: "NOT_VERIFIED"
                            type: string
                            description: status of person verification according to `PERSON_VERIFICATION_STATUSES` dictionary
                          details:
                            type: object
                            properties:
                              drfo:
                                type: object
                                properties:
                                  verification_status:
                                    example: "NOT_VERIFIED"
                                    type: string
                                    description: status of person DRFO verification according to `PERSON_VERIFICATION_STATUSES` dictionary
                                  verification_reason:
                                    example: "AUTO"
                                    type: string
                                    description: how current DRFO verification status has been set according to `PERSON_VERIFICATION_STATUS_REASONS` dictionary
                                  result:
                                    example: 12
                                    type: number
                                    description: result of person DRFO synchronization according to `DRFO_RESULT` dictionary
                                required:
                                  - verification_status
                                  - verification_reason
                              dracs_death:
                                type: object
                                properties:
                                  verification_status:
                                    example: "NOT_VERIFIED"
                                    type: string
                                    description: status of person DRACS death verification according to `PERSON_VERIFICATION_STATUSES` dictionary
                                  verification_reason:
                                    example: "AUTO"
                                    type: string
                                    description: how current DRACS death verification status has been set according to `PERSON_VERIFICATION_STATUS_REASONS` dictionary
                                  verification_comment:
                                    example: "Необхідно повторно підтвердити факт смерті у пацієнта"
                                    type: string
                                    description: DRACS death verification status description set by NHS or Doctor
                                required:
                                  - verification_status
                                  - verification_reason
                              nhs:
                                type: object
                                properties:
                                  verification_status:
                                    example: "NOT_VERIFIED"
                                    type: string
                                    description: status of person manual NHS verification according to `PERSON_VERIFICATION_STATUSES` dictionary
                                  verification_reason:
                                    example: "AUTO"
                                    type: string
                                    description: how current manual NHS verification status has been set according to `PERSON_VERIFICATION_STATUS_REASONS` dictionary
                                  verification_comment:
                                    example: "Бракує даних паспорту пацієнта та його ІПН"
                                    type: string
                                    description: verification status description set by NHS in case NOT_VERIFIED
                                required:
                                  - verification_status
                                  - verification_reason
                              unzr:
                                type: object
                                properties:
                                  verification_status:
                                    example: "NOT_VERIFIED"
                                    type: string
                                    description: status of person UNZR verification according to `PERSON_VERIFICATION_STATUSES` dictionary
                                  verification_reason:
                                    example: "AUTO"
                                    type: string
                                    description: how current UNZR verification status has been set according to `PERSON_VERIFICATION_STATUS_REASONS` dictionary
                                  status:
                                    example: 0
                                    type: number
                                    description: status of the UNZR record in EIS MVS register for the person. It is set by synchronization according to `EIS_MVS_STATUS` dictionary
                                required:
                                  - verification_status
                                  - verification_reason
                              mvs_passport:
                                type: object
                                properties:
                                  verification_status:
                                    example: "NOT_VERIFIED"
                                    type: string
                                    description: status of MVS passport verification for the person according to `PERSON_VERIFICATION_STATUSES` dictionary
                                  verification_reason:
                                    example: "AUTO"
                                    type: string
                                    description: how current MVS passport verification status has been set according to `PERSON_VERIFICATION_STATUS_REASONS` dictionary
                                  status:
                                    example: 1
                                    type: number
                                    description: status of the record in EIS MVS register for the passport document. It is set by synchronization according to `EIS_MVS_STATUS` dictionary
                                required:
                                  - verification_status
                                  - verification_reason
                              dms_passport:
                                type: object
                                properties:
                                  verification_status:
                                    example: "NOT_VERIFIED"
                                    type: string
                                    description: status of DMS passport verification for the person according to `PERSON_VERIFICATION_STATUSES` dictionary
                                  verification_reason:
                                    example: "AUTO"
                                    type: string
                                    description: how current DMS passport verification status has been set according to `PERSON_VERIFICATION_STATUS_REASONS` dictionary
                                  status:
                                    example: 1
                                    type: number
                                    description: status of the record in EIS MVS register for the passport document. It is set by synchronization according to `EIS_MVS_STATUS` dictionary
                                required:
                                  - verification_status
                                  - verification_reason
                              dracs_birth:
                                type: object
                                properties:
                                  verification_status:
                                    example: "NOT_VERIFIED"
                                    type: string
                                    description: status of person DRACS birth verification according to `PERSON_VERIFICATION_STATUSES` dictionary
                                  verification_reason:
                                    example: "AUTO_ONLINE"
                                    type: string
                                    description: how current DRACS birth verification status has been set according to `PERSON_VERIFICATION_STATUS_REASONS` dictionary
                                  verification_comment:
                                    example: "Необхідно повторно підтвердити дані свідоцтва про народження пацієнта"
                                    type: string
                                    description: DRACS birth verification status description set by NHS
                                required:
                                  - verification_status
                                  - verification_reason
                              dracs_name_change:
                                type: object
                                properties:
                                  verification_status:
                                    example: "VERIFIED"
                                    type: string
                                    description: Person DRACS name change verification status according to `PERSON_VERIFICATION_STATUSES` dictionary.
                                  verification_reason:
                                    example: "MANUAL_COMFIRMED"
                                    type: string
                                    description: Verification reason according to `PERSON_VERIFICATION_STATUS_REASONS` dictionary.
                                  verification_comment:
                                    example: "Пацієнт не замінював ПІБ"
                                    type: string
                                    description: Verification comment
                                required:
                                  - verification_status
                                  - verification_reason
                              legal_capacity:
                                type: object
                                properties:
                                  verification_status:
                                    example: "VERIFICATION_NOT_NEEDED"
                                    type: string
                                    description: Person Legal capacity verification status according to `PERSON_VERIFICATION_STATUSES` dictionary.
                                  verification_reason:
                                    example: "AUTO_DATA_ABSENT"
                                    type: string
                                    description: Verification reason according to `PERSON_VERIFICATION_STATUS_REASONS` dictionary.
                                required:
                                  - verification_status
                                  - verification_reason
                        required:
                          - verification_status
                      confidant_person_relationship_verification:
                        type: object
                        properties:
                          verification_status:
                            example: "VERIFICATION_NEEDED"
                            type: string
                            description: status of relationship verification according to `PERSONS_RELATIONSHIP_VERIFICATION_STATUSES` dictionary
                          verification_reason:
                            example: "Встановлено вручну у процесі реєстрації Пацієнта Лікарем"
                            type: string
                            description: how current relationship verification status has been set according to `PERSONS_RELATIONSHIP_VERIFICATION_STATUSES` dictionary
                          verification_comment:
                            example: "Підтверджено на підставі свідоцтва про народження"
                            type: string
                            description: Relationship verification status description set by NHS or Doctor
                        required:
                          - verification_status
                          - verification_reason
                    required:
                      - person_verification
              example:
                meta:
                  code: 200
                  url: https://example.com/resource
                  type: object
                  request_id: 6617aeec-15e2-4d6f-b9bd-53559c358f97#17810
                data:
                  person_verification:
                    verification_status: NOT_VERIFIED
                    details:
                      drfo:
                        verification_status: NOT_VERIFIED
                        verification_reason: AUTO
                        result: 12
                      dracs_death:
                        verification_status: NOT_VERIFIED
                        verification_reason: AUTO
                        verification_comment: Необхідно повторно підтвердити факт смерті у пацієнта
                      nhs:
                        verification_status: NOT_VERIFIED
                        verification_reason: AUTO
                        verification_comment: Бракує даних паспорту пацієнта та його ІПН
                      unzr:
                        verification_status: NOT_VERIFIED
                        verification_reason: AUTO
                        status: 0
                      mvs_passport:
                        verification_status: NOT_VERIFIED
                        verification_reason: AUTO
                        status: 1
                      dms_passport:
                        verification_status: NOT_VERIFIED
                        verification_reason: AUTO
                        status: 1
                      dracs_birth:
                        verification_status: NOT_VERIFIED
                        verification_reason: AUTO_ONLINE
                        verification_comment: Необхідно повторно підтвердити дані свідоцтва про народження пацієнта
                      dracs_name_change:
                        verification_status: VERIFIED
                        verification_reason: MANUAL_COMFIRMED
                        verification_comment: Пацієнт не замінював ПІБ
                      legal_capacity:
                        verification_status: VERIFICATION_NOT_NEEDED
                        verification_reason: AUTO_DATA_ABSENT
                  confidant_person_relationship_verification:
                    verification_status: VERIFICATION_NEEDED
                    verification_reason: Встановлено вручну у процесі реєстрації Пацієнта Лікарем
                    verification_comment: Підтверджено на підставі свідоцтва про народження
      summary: Get Person verification details
      operationId: Get Person verification details
      description: This WS designed to get current user's person verification status & data and relationship verification status.
      tags:
        - Public. Patient Information System
      parameters:
        - name: Authorization
          in: header
          description: e.g. Bearer c2778f3064753ea70de870a53795f5c9
          required: true
          schema:
            type: string
          example: Bearer c2778f3064753ea70de870a53795f5c9
        - name: api-key
          in: header
          description: e.g. uXhEczJ56adsfh3Ri9SUkc4en
          required: false
          schema:
            type: string
          example: uXhEczJ56adsfh3Ri9SUkc4en
  /api/pis/authentication_method_requests/{request_id}/actions/resend_otp:
    post:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: 200
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  data:
                    type: object
                    properties:
                      id:
                        example: "7d23bebb-1cf3-4221-bf21-18aada444756"
                        type: string
                      status:
                        example: "NEW"
                        type: string
                        enum:
                          - NEW
                          - CANCELED
                          - VERIFIED
                          - UNVERIFIED
                      code_expired_at:
                        example: "2017-07-10T12:20:16.300597Z"
                        type: string
                      active:
                        example: true
                        type: boolean
                    required:
                      - id
                      - status
                      - code_expired_at
                      - active
              example:
                meta:
                  code: 200
                  url: https://example.com/resource
                  type: object
                  request_id: 6617aeec-15e2-4d6f-b9bd-53559c358f97#17810
                data:
                  id: 7d23bebb-1cf3-4221-bf21-18aada444756
                  status: NEW
                  code_expired_at: '2017-07-10T12:20:16.300597Z'
                  active: true
      summary: Resend authorization OTP for authentication method request
      operationId: Resend authorization OTP for authentication method request
      description: This method is used when you need to re-send SMS to a person or third person
      tags:
        - Public. Patient Information System
      parameters:
        - name: request_id
          in: path
          description: Request identifier
          required: true
          example: 1096f147-7f93-3fc6-bddc-9d71b198fb7f
          schema:
            type: string
        - name: Authorization
          in: header
          description: e.g. Bearer c2778f3064753ea70de870a53795f5c9
          required: true
          schema:
            type: string
          example: Bearer c2778f3064753ea70de870a53795f5c9
        - name: api-key
          in: header
          description: e.g. uXhEczJ56adsfh3Ri9SUkc4en
          required: false
          schema:
            type: string
          example: uXhEczJ56adsfh3Ri9SUkc4en
  /api/pis/authentication_method_requests:
    post:
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: 201
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  data:
                    type: object
                    properties:
                      id:
                        example: "b075f148-7f93-4fc2-b2ec-2d81b19a9b7b"
                        type: string
                      status:
                        example: "NEW"
                        type: string
                      channel:
                        example: "PIS"
                        type: string
                        enum:
                          - PIS
                        description: channel that invoke add auth methods
                    required:
                      - id
                      - status
                      - channel
                  urgent:
                    type: object
                    properties:
                      authentication_method_current:
                        type: array
                        description: if the person doesn't have active auth methods, then this block will be nill
                        items: {}
                required:
                  - urgent
              example:
                meta:
                  code: 201
                  url: https://example.com/resource
                  type: object
                  request_id: 6617aeec-15e2-4d6f-b9bd-53559c358f97#17810
                data:
                  id: b075f148-7f93-4fc2-b2ec-2d81b19a9b7b
                  status: NEW
                  channel: PIS
                urgent:
                  authentication_method_current:
                    - type: OTP
                      phone_number: +38093*****81
        '422':
          description: Unprocessable Entity
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: "422"
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  error:
                    type: object
                    properties:
                      type:
                        example: "unverified"
                        type: string
                      message:
                        example: "Unverified phone number"
                        type: string
                    required:
                      - type
                      - message
                    additionalProperties: false
              example:
                meta:
                  code: '422'
                  url: https://example.com/resource
                  type: object
                  request_id: 6617aeec-15e2-4d6f-b9bd-53559c358f97#17810
                error:
                  type: unverified
                  message: Unverified phone number
      summary: Create authentication method request
      operationId: Create authentication method request
      description: This process describes adding an additional authentication method to an existing person.
      tags:
        - Public. Patient Information System
      parameters:
        - name: Authorization
          in: header
          description: e.g. Bearer c2778f3064753ea70de870a53795f5c9
          required: true
          schema:
            type: string
          example: Bearer c2778f3064753ea70de870a53795f5c9
        - name: api-key
          in: header
          description: e.g. uXhEczJ56adsfh3Ri9SUkc4en
          required: false
          schema:
            type: string
          example: uXhEczJ56adsfh3Ri9SUkc4en
      requestBody:
        content:
          application/json:
            example:
              authentication_method:
                type: OTP
                phone_number: '+380976549872'
                alias: husband
            schema:
              type: object
              properties:
                authentication_method:
                  type: object
                  properties:
                    type:
                      example: "OTP"
                      type: string
                      enum:
                        - OTP
                    phone_number:
                      example: "+380976549872"
                      type: string
                    alias:
                      example: "husband"
                      type: string
                  required:
                    - type
                    - phone_number
              required:
                - authentication_method
  /api/pis/authentication_method_requests/{request_id}/actions/approve:
    patch:
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: 201
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  data:
                    type: object
                    properties:
                      id:
                        example: "b075f148-7f93-4fc2-b2ec-2d81b19a9b7b"
                        type: string
                      status:
                        example: "COMPLETED"
                        type: string
                        enum:
                          - COMPLETED
                        description: current status on auth methods request.
                      channel:
                        example: "PIS"
                        type: string
                        enum:
                          - PIS
                        description: channel that invoke add auth methods
[...]
