openapi: 3.1.0
info:
  title: eHealth Trusted PIS API — DEMO
  version: "9.13.0 v.1"
  description: |-
    **Version: 9.13.0 v.1**

    Environment: **DEMO**

    This is a **Trusted PIS-related sign-in and sign-up part** of API documentation for Ukrainian Health Services government institution back-end, that should provide:

    * Patient sign-in

    * Patient sign-in by confidant person

    * Patient sign-up

    * Patient sign-up by confidant person

    * Patient data management

    > In order to get specification for PIS-related consumers part of API documentation please proceed [here](/?r=1#ehealth-pis)

    ## API Conventions
    
    **Request ID.** Send a request-tracing value in the `X-Request-ID` header; the same value is echoed back in every response, in the `meta.request_id` field. Quote it when reporting an issue so support can locate the exact request server-side.
    
    **Idempotency Key.** For requests that support safe retries, send a client-generated value in the `X-Idempotency-Key` header; a repeated request with the same key and body returns the original response instead of re-executing the operation. The response echoes it back in `meta.idempotency_key`.
    
    **Error format.** Every error response follows the same envelope: `meta` (as above) plus an `error` object with `type` (a machine-readable error code) and `message` (a human-readable, developer-facing description).
    
servers:
  - url: https://api-demo.ehealth.gov.ua
    description: DEMO — eHealth ehealth-trusted-pis API
tags:
  - name: Public. Patient Information System
    description: 'The table below reflects actual API endpoints for all the eHealth environments


      Env     | Host

      --------|-----

      DEMO    | https://api-demo.ehealth.gov.ua

      PREPROD | https://api-preprod.ehealth.gov.ua

      PROD    | https://api.ehealth.gov.ua


      **Notes:**


      - Every sign-in and sign-up method described here must be used only by Clients with `TRUSTED_PIS` client type.


      - When `access_token` expires, Client must renew it using `refresh_token` with [Use Refresh Token for Access Token extension](/#ehealth-trusted-pis/tag/public-patient-information-system/POST/oauth/tokens) method.


      **API-key:**


      - For identifiers of PIS clients (as a broker) we use term api-key. PIS must **mandatory** send api-key when called any eHealth API.


      - api-key is a `pis_client_secret` - Patient Information System secret key issued upon integration request.


      - api-key is dispatched in Request HEADER as a `API-key` attribute.


      - If PIS don''t send api-key in Request HEADER, API return 401 error wih message "API-KEY header required".'
  - name: Public. Dummy methods
paths:
  /oauth/nonce:
    post:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: 200
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  data:
                    type: object
                    properties:
                      token:
                        example: "'eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJtaXRocmlsLWxvZ2luIiwiZXhwIjoxNTIzNDM5MjAxLCJpYXQiOjE1MjM0MzgzMDEsImlzcyI6IkVIZWFsdGgiLCJqdGkiOiJlZmUxZjA4ZS1kNGI0LTRjZWYtYTAyYy03OGVhNGExZGRhMjUiLCJuYmYiOjE1MjM0MzgzMDAsIm5vbmNlIjoxMjMsInN1YiI6MTIzLCJ0eXAiOiJhY2Nlc3MifQ.UZ6S92h3nAG"
                        type: string
                    required:
                      - token
                    additionalProperties: false
              example:
                meta:
                  code: 200
                  url: https://example.com/resource
                  type: object
                  request_id: 6617aeec-15e2-4d6f-b9bd-53559c358f97#17810
                data:
                  token: '''eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJtaXRocmlsLWxvZ2luIiwiZXhwIjoxNTIzNDM5MjAxLCJpYXQiOjE1MjM0MzgzMDEsImlzcyI6IkVIZWFsdGgiLCJqdGkiOiJlZmUxZjA4ZS1kNGI0LTRjZWYtYTAyYy03OGVhNGExZGRhMjUiLCJuYmYiOjE1MjM0MzgzMDAsIm5vbmNlIjoxMjMsInN1YiI6MTIzLCJ0eXAiOiJhY2Nlc3MifQ.UZ6S92h3nAG'
      summary: Get nonce
      operationId: Get nonce
      description: 'This endpoint allows to get nonce (one time JWT) for active client of the system.


        Field `client_secret` is mandatory for client type = TRUSTED_PIS.'
      tags:
        - Public. Patient Information System
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              client_id: 30074b6e-fbab-4dc1-9d37-88c21dab1847
              client_secret: c2778f3064753ea70de870a53795f5c9
            schema:
              type: object
              properties:
                client_id:
                  example: "30074b6e-fbab-4dc1-9d37-88c21dab1847"
                  type: string
                  description: Client identifier in the system.
                client_secret:
                  example: "c2778f3064753ea70de870a53795f5c9"
                  type: string
                  description: Required only for clients with `TRUSTED_PIS` client type.
              required:
                - client_id
                - client_secret
  /api/pis/sign-in:
    post:
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: 201
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  data:
                    type: object
                    properties:
                      value:
                        example: "SnNRdCtvU0tTOENBV2dLRUZwNmIzZz09"
                        type: string
                        description: oAuth access token.
                      user_id:
                        example: "3ff33ced-69dc-415a-b231-c6446898335a"
                        type: string
                        description: User identifier
                      name:
                        example: "access_token"
                        type: string
                        description: oAuth token name
                      id:
                        example: "3ff33ced-69dc-415a-b231-c6446898335a"
                        type: string
                        description: oAuth token identifier
                      expires_at:
                        example: 1498749591
                        type: number
                        description: expiration date-time timestamp
                      details:
                        type: object
                        properties:
                          app_id:
                            example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                            type: string
                            description: Identifier of approval between user, applicant user and client that was used to issue access token
                          applicant_user_id:
                            example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                            type: string
                            description: Identifier of user that initiated access token generation
                          applicant_person_id:
                            example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                            type: string
                            description: Identifier of person that is accosiated with user who initiated access token generation
                          scope:
                            example: "capitation_contracts:view capitation_contracts:create patients:view patients:create"
                            type: string
                            description: List of scopes that is required in application business logic, separated by space
                          refresh_token:
                            example: "my-oauth-refresh-token"
                            type: string
                            description: oAuth refresh token
                          grant_type:
                            example: "pis_auth"
                            type: string
                          client_id:
                            example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                            type: string
                            description: Client ID of authorized user
                        required:
                          - scope
                          - refresh_token
                          - client_id
                    required:
                      - value
                      - user_id
                      - name
                      - id
                      - expires_at
                      - details
                    additionalProperties: false
              example:
                meta:
                  code: 201
                  url: https://example.com/resource
                  type: object
                  request_id: 6617aeec-15e2-4d6f-b9bd-53559c358f97#17810
                data:
                  value: SnNRdCtvU0tTOENBV2dLRUZwNmIzZz09
                  user_id: 3ff33ced-69dc-415a-b231-c6446898335a
                  name: access_token
                  id: 3ff33ced-69dc-415a-b231-c6446898335a
                  expires_at: 1498749591
                  details:
                    app_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                    applicant_user_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                    applicant_person_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                    scope: capitation_contracts:view capitation_contracts:create patients:view patients:create
                    refresh_token: my-oauth-refresh-token
                    grant_type: pis_auth
                    client_id: d290f1ee-6c54-4b01-90e6-d701748f0851
      summary: Patient sign-in
      operationId: Patient sign-in
      description: 'This endpoint is used to authenticate, approve scopes and sign-in user using one endpoint. If user does not exist - search for active patient and create user.


        This endpoint must be used only by trusted PIS clients.


        Signed content must contain signed nonce that was generated for trusted PIS.'
      tags:
        - Public. Patient Information System
      parameters:
        - name: api-key
          in: header
          description: e.g. uXhEczJ56adsfh3Ri9SUkc4en
          required: true
          schema:
            type: string
          example: uXhEczJ56adsfh3Ri9SUkc4en
      requestBody:
        content:
          application/json:
            example:
              token:
                grant_type: pis_auth
                client_id: 4fc161ad-5e3d-4c5e-9a9e-189e2ddffe56
                client_secret: UXhEczJacXh3Ri9SUkc4enhHTVVpQ119
                signed_content: eyJqd3QiOiJleUpoYkdjaU9pSklVelV4TWlJc0luUjVjQ0k2SWtwWFZDSjkuZXlKaGRXUWlPaUowY25WemRHVmtMV05zYVdWdWRDSXNJbVY0Y0NJNk1UWTRNak14TnprME9Dd2lhV0YwSWpveE5qZ3lNekUwTXpRNExDSnBjM01pT2lKRlNHVmhiSFJvSWl3aWFuUnBJam9pWWpZMk1USTROVGN0TlRCaVlTMDBZV0V6TFdFNE56QXRPR0U1T0dZNU1tTmpNalUwSWl3aWJtSm1Jam94TmpneU16RTBNelEzTENKdWIyNWpaU0k2SW1RMU5XUmxOMkkxTFRZeFlURXROREZsWWkxaE9Ua3hMV1ZsWm1VNVptRmlZbU00WlNJc0luTjFZaUk2SW1RMU5XUmxOMkkxTFRZeFlURXROREZsWWkxaE9Ua3hMV1ZsWm1VNVptRmlZbU00WlNJc0luUjVjQ0k2SW1GalkyVnpjeUo5LkhXTzZlbmxyUE5hYlNIM0xfaWtJU3ZaSjFadnpEV3VkaUNNTEJadkFpcksxQW5SeE5ERW5BY0JKUWVxM2pLdWJsSHBpWUFmNktOZXY5a3daeTJLMXp3In0=
                signed_content_encoding: base64
                scope: declaration_request:read declaration_request:terminate declaration:read person:read app:read authentication_factor:read profile:read
            schema:
              type: object
              properties:
                token:
                  type: object
                  properties:
                    grant_type:
                      example: "pis_auth"
                      type: string
                      enum:
                        - pis_auth
                      description: Auth Grant Type. Currently only `pis_auth` is supported.
                    client_id:
                      example: "4fc161ad-5e3d-4c5e-9a9e-189e2ddffe56"
                      type: string
                      description: Patient information system ID. Used to identify the context of the PIS.
                    client_secret:
                      example: "UXhEczJacXh3Ri9SUkc4enhHTVVpQ119"
                      type: string
                      description: Patient information system secret key issued upon integration request. Used to identify application developer.
                    signed_content:
                      example: "eyJqd3QiOiJleUpoYkdjaU9pSklVelV4TWlJc0luUjVjQ0k2SWtwWFZDSjkuZXlKaGRXUWlPaUowY25WemRHVmtMV05zYVdWdWRDSXNJbVY0Y0NJNk1UWTRNak14TnprME9Dd2lhV0YwSWpveE5qZ3lNekUwTXpRNExDSnBjM01pT2lKRlNHVmhiSFJvSWl3aWFuUnBJam9pWWpZMk1USTROVGN0TlRCaVlTMDBZV0V6TFdFNE56QXRPR0U1T0dZNU1tTmpNalUwSWl3aWJtSm1Jam94TmpneU16RTBNelEzTENKdWIyNWpaU0k2SW1RMU5XUmxOMkkxTFRZeFlURXROREZsWWkxaE9Ua3hMV1ZsWm1VNVptRmlZbU00WlNJc0luTjFZaUk2SW1RMU5XUmxOMkkxTFRZeFlURXROREZsWWkxaE9Ua3hMV1ZsWm1VNVptRmlZbU00WlNJc0luUjVjQ0k2SW1GalkyVnpjeUo5LkhXTzZlbmxyUE5hYlNIM0xfaWtJU3ZaSjFadnpEV3VkaUNNTEJadkFpcksxQW5SeE5ERW5BY0JKUWVxM2pLdWJsSHBpWUFmNktOZXY5a3daeTJLMXp3In0="
                      type: string
                    signed_content_encoding:
                      example: "base64"
                      type: string
                    scope:
                      example: "declaration_request:read declaration_request:terminate declaration:read person:read app:read authentication_factor:read profile:read"
                      type: string
                      description: List of scopes that is required in application business logic, separated by space.
                  required:
                    - grant_type
                    - client_id
                    - client_secret
                    - signed_content
                    - signed_content_encoding
                    - scope
              required:
                - token
  /api/pis/confidant/sign-in:
    post:
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: 201
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  data:
                    type: object
                    properties:
                      value:
                        example: "SnNRdCtvU0tTOENBV2dLRUZwNmIzZz09"
                        type: string
                        description: oAuth access token.
                      user_id:
                        example: "3ff33ced-69dc-415a-b231-c6446898335a"
                        type: string
                        description: User identifier
                      name:
                        example: "access_token"
                        type: string
                        description: oAuth token name
                      id:
                        example: "3ff33ced-69dc-415a-b231-c6446898335a"
                        type: string
                        description: oAuth token identifier
                      expires_at:
                        example: 1498749591
                        type: number
                        description: expiration date-time timestamp
                      details:
                        type: object
                        properties:
                          app_id:
                            example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                            type: string
                            description: Identifier of approval between user, applicant user and client that was used to issue access token
                          applicant_user_id:
                            example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                            type: string
                            description: Identifier of user that initiated access token generation
                          applicant_person_id:
                            example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                            type: string
                            description: Identifier of person that is accosiated with user who initiated access token generation
                          scope:
                            example: "capitation_contracts:view capitation_contracts:create patients:view patients:create"
                            type: string
                            description: List of scopes that is required in application business logic, separated by space
                          refresh_token:
                            example: "my-oauth-refresh-token"
                            type: string
                            description: oAuth refresh token
                          grant_type:
                            example: "pis_auth"
                            type: string
                          client_id:
                            example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                            type: string
                            description: Client ID of authorized user
                        required:
                          - scope
                          - refresh_token
                          - client_id
                    required:
                      - value
                      - user_id
                      - name
                      - id
                      - expires_at
                      - details
                    additionalProperties: false
              example:
                meta:
                  code: 201
                  url: https://example.com/resource
                  type: object
                  request_id: 6617aeec-15e2-4d6f-b9bd-53559c358f97#17810
                data:
                  value: SnNRdCtvU0tTOENBV2dLRUZwNmIzZz09
                  user_id: 3ff33ced-69dc-415a-b231-c6446898335a
                  name: access_token
                  id: 3ff33ced-69dc-415a-b231-c6446898335a
                  expires_at: 1498749591
                  details:
                    app_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                    applicant_user_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                    applicant_person_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                    scope: capitation_contracts:view capitation_contracts:create patients:view patients:create
                    refresh_token: my-oauth-refresh-token
                    grant_type: pis_auth
                    client_id: d290f1ee-6c54-4b01-90e6-d701748f0851
      summary: Confidant patient sign-in
      operationId: Confidant patient sign-in
      description: |-
        This endpoint is used to authenticate, approve scopes and sign-in as a confidant patient.

        > **Note:** It could be done only if there is a registered relation between actor (authenticated patient) and related patient

        If user does not exist - search for active patient and create user.

        This endpoint must be used only by trusted PIS clients.

        Signed content must contain patient data to search and identify patient and validate relation

        Look at [**Dummy Confidant patient sign-in**](/#ehealth-trusted-pis/tag/public-patient-information-system/POST/api/pis/confidant/sign-in/decoded-payload) for more details
      tags:
        - Public. Patient Information System
      parameters:
        - name: api-key
          in: header
          description: e.g. uXhEczJ56adsfh3Ri9SUkc4en
          required: true
          schema:
            type: string
          example: uXhEczJ56adsfh3Ri9SUkc4en
      requestBody:
        content:
          application/json:
            example:
              signed_content: ewogICAgImZpcnN0X25hbWUiOiAi0J/QtdGC0YDQviIsCiAgICAibGFzdF9uYW1lIjogItCG0LLQsNC90L7QsiIsCiAgICAic2Vjb25kX25hbWUiOiAi0JzQuNC60L7Qu9Cw0LnQvtCy0LjRhyIsCiAgICAiYmlydGhfZGF0ZSI6ICIxOTkxLTA4LTE5IiwKICAgICJiaXJ0aF9jb3VudHJ5IjogItCj0LrRgNCw0ZfQvdCwIiwKICAgICJiaXJ0aF9zZXR0bGVtZW50IjogItCS0ZbQvdC90LjRhtGPIiwKICAgICJnZW5kZXIiOiAiTUFMRSIsCiAgICAiZW1haWwiOiAiZW1haWxAZXhhbXBsZS5jb20iLAogICAgInRheF9pZCI6ICIzMTI2NTA5ODE2IiwKICAgICJzZWNyZXQiOiAic2VjcmV0IiwKICAgICJkb2N1bWVudHMiOiBbCiAgICAgIHsKICAgICAgICAidHlwZSI6ICJQQVNTUE9SVCIsCiAgICAgICAgIm51bWJlciI6ICIxMjA1MTgiLAogICAgICAgICJpc3N1ZWRfYnkiOiAi0KDQvtC60LjRgtC90Y/QvdGB0YzQutC40Lwg0KDQkiDQk9CjINCc0JLQoSDQmtC40ZfQstGB0YzQutC+0Zcg0L7QsdC70LDRgdGC0ZYiLAogICAgICAgICJpc3N1ZWRfYXQiOiAiMjAxNy0wMi0yOCIKICAgICAgfQogICAgXSwKICAgICJhZGRyZXNzZXMiOiBbCiAgICAgIHsKICAgICAgICAidHlwZSI6ICJSRVNJREVOQ0UiLAogICAgICAgICJjb3VudHJ5IjogIlVBIiwKICAgICAgICAiYXJlYSI6ICLQltC40YLQvtC80LjRgNGB0YzQutCwIiwKICAgICAgICAicmVnaW9uIjogItCR0LXRgNC00LjRh9GW0LLRgdGM0LrQuNC5IiwKICAgICAgICAic2V0dGxlbWVudCI6ICLQmtC40ZfQsiIsCiAgICAgICAgInNldHRsZW1lbnRfdHlwZSI6ICJDSVRZIiwKICAgICAgICAic2V0dGxlbWVudF9pZCI6ICI0MzQzMjQzMiIsCiAgICAgICAgInN0cmVldF90eXBlIjogIlNUUkVFVCIsCiAgICAgICAgInN0cmVldCI6ICLQstGD0LsuINCd0ZbQttC40L3RgdGM0LrQsCIsCiAgICAgICAgImJ1aWxkaW5nIjogIjE1IiwKICAgICAgICAiYXBhcnRtZW50IjogIjIzIiwKICAgICAgICAiemlwIjogIjAyMDkwIgogICAgICB9CiAgICBdLAogICAgInBob25lcyI6IFsKICAgICAgewogICAgICAgICJ0eXBlIjogIk1PQklMRSIsCiAgICAgICAgIm51bWJlciI6ICIrMzgwNTAzNDEwODcwIgogICAgICB9CiAgICBdLAogICAgImF1dGhlbnRpY2F0aW9uX21ldGhvZHMiOiBbCiAgICAgIHsKICAgICAgICAidHlwZSI6ICJPVFAiLAogICAgICAgICJwaG9uZV9udW1iZXIiOiAiKzM4MDUwODg4NzcwMCIKICAgICAgfQogICAgXSwKICAgICJwcmVmZXJyZWRfd2F5X2NvbW11bmljYXRpb24iOiAiZW1haWwiLAogICAgImVtZXJnZW5jeV9jb250YWN0IjogewogICAgICAiZmlyc3RfbmFtZSI6ICLQn9C10YLRgNC+IiwKICAgICAgImxhc3RfbmFtZSI6ICLQhtCy0LDQvdC+0LIiLAogICAgICAic2Vjb25kX25hbWUiOiAi0JzQuNC60L7Qu9Cw0LnQvtCy0LjRhyIsCiAgICAgICJwaG9uZXMiOiBbCiAgICAgICAgewogICAgICAgICAgInR5cGUiOiAiTU9CSUxFIiwKICAgICAgICAgICJudW1iZXIiOiAiKzM4MDUwMzQxMDg3MCIKICAgICAgICB9CiAgICAgIF0KICAgIH0sCiAgICAicHJvY2Vzc19kaXNjbG9zdXJlX2RhdGFfY29uc2VudCI6IHRydWUKICB9Cn0=
              signed_content_encoding: base64
              token:
                grant_type: pis_auth
                client_id: 4fc161ad-5e3d-4c5e-9a9e-189e2ddffe56
                client_secret: UXhEczJacXh3Ri9SUkc4enhHTVVpQ119
                scope: declaration_request:read declaration_request:terminate declaration:read person:read app:read authentication_factor:read profile:read
            schema:
              type: object
              properties:
                signed_content_encoding:
                  example: "base64"
                  type: string
                token:
                  type: object
                  properties:
                    grant_type:
                      example: "pis_auth"
                      type: string
                      enum:
                        - pis_auth
                      description: Auth Grant Type. Currently only `pis_auth` is supported.
                    client_id:
                      example: "4fc161ad-5e3d-4c5e-9a9e-189e2ddffe56"
                      type: string
                      description: Patient information system ID. Used to identify the context of the PIS.
                    client_secret:
                      example: "UXhEczJacXh3Ri9SUkc4enhHTVVpQ119"
                      type: string
                      description: Patient information system secret key issued upon integration request. Used to identify application developer.
                    scope:
                      example: "declaration_request:read declaration_request:terminate declaration:read person:read app:read authentication_factor:read profile:read"
                      type: string
                      description: List of scopes that is required in application business logic, separated by space.
                  required:
                    - grant_type
                    - client_id
                    - client_secret
                    - scope
              required:
                - signed_content
                - signed_content_encoding
                - token
        required: true
        description: |-
          <!-- signed-payload-xref -->
          > 🔒 **Signed content** — The request body is submitted as the base64 of a digitally-signed (КЕП / UA-EDS) document. Decoded payload schema: **[Payload: Confidant patient sign-in](/#ehealth-trusted-pis/tag/public-patient-information-system/POST/api/pis/confidant/sign-in/decoded-payload)**.
          <!-- /signed-payload-xref -->

          **Signed request.** Send only **`signed_data`** — the base64 of a digitally-signed (КЕП / UA-EDS) document.

           The decoded structure of `signed_data` is `Person_Request_PIS`, [documented here](/#ehealth-trusted-pis/tag/public-patient-information-system/POST/api/pis/confidant/sign-in/decoded-payload).
      x-signed-content-schema: '#/components/schemas/Person_Request_PIS'
  /api/pis/confidant/sign-in/decoded-payload:
    post:
      tags:
        - Public. Patient Information System
      summary: 'Payload: Confidant patient sign-in'
      operationId: dummy-post-api-pis-confidant-sign-in
      description: |-
        This is Apiary's own **Dummy** test-method body for this operation (`POST /dummy/pis/confidant/sign-in`) -- a plain (unsigned), much smaller reference payload Apiary provides for MIS integration testing, distinct from the real signed `Person_Request_PIS` content (verified separately). → [Confidant patient sign-in](/#ehealth-trusted-pis/tag/public-patient-information-system/POST/api/pis/confidant/sign-in)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - last_name
                - given_name
              properties:
                last_name:
                  type: string
                  example: Петров
                given_name:
                  type: string
                  example: Петро Петрович
                tax_id:
                  type: string
                  example: '2323232323'
                document:
                  type: object
                  required:
                    - type
                    - number
                  properties:
                    type:
                      type: string
                      example: PASSPORT
                      description: '`Dictionary DOCUMENT_TYPE`'
                    number:
                      type: string
                      example: АА120518
                      description: document issue number
      responses:
        '200':
          description: Success
  /oauth/tokens:
    post:
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: 201
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  data:
                    type: object
                    properties:
                      value:
                        example: "SnNRdCtvU0tTOENBV2dLRUZwNmIzZz09"
                        type: string
                        description: oAuth access token.
                      user_id:
                        example: "3ff33ced-69dc-415a-b231-c6446898335a"
                        type: string
                        description: User identifier
                      name:
                        example: "access_token"
                        type: string
                        description: oAuth token name
                      id:
                        example: "3ff33ced-69dc-415a-b231-c6446898335a"
                        type: string
                        description: oAuth token identifier
                      expires_at:
                        example: 1498749591
                        type: number
                        description: expiration date-time timestamp
                      details:
                        type: object
                        properties:
                          app_id:
                            example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                            type: string
                            description: Identifier of approval between user, applicant user and client that was used to issue access token
                          applicant_user_id:
                            example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                            type: string
                            description: Identifier of user that initiated access token generation
                          applicant_person_id:
                            example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                            type: string
                            description: Identifier of person that is accosiated with user who initiated access token generation
                          scope:
                            example: "capitation_contracts:view capitation_contracts:create patients:view patients:create"
                            type: string
                            description: List of scopes that is required in application business logic, separated by space
                          grant_type:
                            example: "refresh_token"
                            type: string
                          client_id:
                            example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                            type: string
                            description: Client ID of authorized user.
                        required:
                          - scope
                          - client_id
                    required:
                      - value
                      - user_id
                      - name
                      - id
                      - expires_at
                      - details
                    additionalProperties: false
              example:
                meta:
                  code: 201
                  url: https://example.com/resource
                  type: object
                  request_id: 6617aeec-15e2-4d6f-b9bd-53559c358f97#17810
                data:
                  value: SnNRdCtvU0tTOENBV2dLRUZwNmIzZz09
                  user_id: 3ff33ced-69dc-415a-b231-c6446898335a
                  name: access_token
                  id: 3ff33ced-69dc-415a-b231-c6446898335a
                  expires_at: 1498749591
                  details:
                    app_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                    applicant_user_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                    applicant_person_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                    scope: capitation_contracts:view capitation_contracts:create patients:view patients:create
                    grant_type: refresh_token
                    client_id: d290f1ee-6c54-4b01-90e6-d701748f0851
      summary: Use Refresh Token for Access Token extension
      operationId: Use Refresh Token for Access Token extension
      description: 'This endpoint is used to renew access token using refresh token.


        It is available to renew access token as many time as needed during the lifetime of refresh token.'
      tags:
        - Public. Patient Information System
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              token:
                client_id: 6498d88e-97fb-47e2-85a5-99e884f888aa
                client_secret: msp-001-secret-key
                refresh_token: my-oauth-refresh-token
                grant_type: refresh_token
            schema:
              type: object
              properties:
                token:
                  type: object
                  properties:
                    client_id:
                      example: "6498d88e-97fb-47e2-85a5-99e884f888aa"
                      type: string
                      description: Medical Service provider ID issued after legal_entity registration. Used to identify the context of the MSP/Pharmacy.
                    client_secret:
                      example: "msp-001-secret-key"
                      type: string
                      description: Medical Service provider secret key issued upon integration request. Used to identify MSP.
                    refresh_token:
                      example: "my-oauth-refresh-token"
                      type: string
                      description: oAuth refresh token.
                    grant_type:
                      example: "refresh_token"
                      type: string
                      enum:
                        - refresh_token
                      description: oAuth Grant Type. Currently only `authorization_code` is supported.
                  required:
                    - client_id
                    - client_secret
                    - refresh_token
                    - grant_type
  /auth/logout:
    post:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: 200
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  data:
                    type: object
                    properties: {}
                    additionalProperties: false
              example:
                meta:
                  code: 200
                  url: https://example.com/resource
                  type: object
                  request_id: 6617aeec-15e2-4d6f-b9bd-53559c358f97#17810
                data: {}
      summary: Logout
      operationId: Logout
      description: 'This endpoint is used to terminate users authenticated session based on a valid access token.


        Refresh token from authenticated session will also be expired.'
      tags:
        - Public. Patient Information System
      parameters:
        - name: Authorization
          in: header
          description: e.g. Bearer c2778f3064753ea70de870a53795f5c9
          required: true
          schema:
            type: string
          example: Bearer c2778f3064753ea70de870a53795f5c9
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
          example: application/json
  /api/sms_verifications:
    post:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: 200
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  data:
                    type: object
                    properties:
                      result:
                        example: "OTP sent"
                        type: string
                        enum:
                          - OTP sent
                          - Verified
                        description: phone verification result.
                    required:
                      - result
                  urgent:
                    type: object
                    properties:
                      next_step:
                        example: "REQUEST_OTP"
                        type: string
                        description: next step that needs to be taken in phone verification process.
                required:
                  - data
              example:
                meta:
                  code: 200
                  url: https://example.com/resource
                  type: object
                  request_id: 6617aeec-15e2-4d6f-b9bd-53559c358f97#17810
                data:
                  result: OTP sent
                urgent:
                  next_step: REQUEST_OTP
      summary: Verify phone number
      operationId: Verify phone number
      description: 'This endpoint is used to verify submitted phone number as a part of person registration process.


        In case number needs verification - generate and send OTP, in case phone does not need verification - return OK.


        Authorization header must contain nonce that was generated for trusted PIS.'
      tags:
        - Public. Patient Information System
      parameters:
        - name: Authorization
          in: header
          description: e.g. Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJjYWJpbmV0LXJlZ2lzdHJhdGlvbiIsImVtYWlsIjoiYXByb2tvcHBoYXJtZGlyNEB1a3IubmV0IiwiZXhwIjoxNjgyNjkzNTc3LCJpYXQiOjE2ODI2NjQ3NzcsImlzcyI6IkVIZWFsdGgiLCJqdGkiOiIxOTAyYTkyYS00MDcyLTQ3MWEtYmU4NS1iZWU0MzQzNmNlYjEiLCJuYmYiOjE2ODI2NjQ3NzYsInN1YiI6ImFwcm9rb3BwaGFybWRpcjRAdWtyLm5ldCIsInR5cCI6ImFjY2VzcyJ9.EXTuYRQenjqzsjNAJ5agmEbSHcg_XRKwc3VOGAtSjfMOy4uIJ_BBMUeUWSVzy4_OezPjEIiVcnaLTN4pZbtgow
          required: true
          schema:
            type: string
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJjYWJpbmV0LXJlZ2lzdHJhdGlvbiIsImVtYWlsIjoiYXByb2tvcHBoYXJtZGlyNEB1a3IubmV0IiwiZXhwIjoxNjgyNjkzNTc3LCJpYXQiOjE2ODI2NjQ3NzcsImlzcyI6IkVIZWFsdGgiLCJqdGkiOiIxOTAyYTkyYS00MDcyLTQ3MWEtYmU4NS1iZWU0MzQzNmNlYjEiLCJuYmYiOjE2ODI2NjQ3NzYsInN1YiI6ImFwcm9rb3BwaGFybWRpcjRAdWtyLm5ldCIsInR5cCI6ImFjY2VzcyJ9.EXTuYRQenjqzsjNAJ5agmEbSHcg_XRKwc3VOGAtSjfMOy4uIJ_BBMUeUWSVzy4_OezPjEIiVcnaLTN4pZbtgow
      requestBody:
        content:
          application/json:
            example:
              factor: '+380501112233'
              type: SMS
              content_hash: 76dea970d89477ed03dc5289f297443c
            schema:
              type: object
              properties:
                factor:
                  example: "+380501112233"
                  type: string
                  description: phone number that needs to be verified.
                type:
                  example: "SMS"
                  type: string
                  enum:
                    - SMS
                  description: verification type.
                content_hash:
                  example: "76dea970d89477ed03dc5289f297443c"
                  type: string
                  description: MD5 hash of content with phone number that needs to be verified.
              required:
                - factor
                - type
                - content_hash
  /api/pis/sign-up:
    post:
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: 201
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  data:
                    type: object
                    properties:
                      person:
                        type: object
                        properties:
                          id:
                            example: "1380df72-275a-11e7-93ae-92361f002671"
                            type: string
                          first_name:
                            example: "Петро"
                            type: string
                          last_name:
                            example: "Іванов"
                            type: string
                          second_name:
                            example: "Миколайович"
                            type: string
                          birth_date:
                            example: "1991-08-19"
                            type: string
                          birth_country:
                            example: "Україна"
                            type: string
                          birth_settlement:
                            example: "Вінниця"
                            type: string
                          gender:
                            example: "MALE"
                            type: string
                            enum:
                              - MALE
                              - FEMALE
                          email:
                            example: "email@example.com"
                            type: string
                          tax_id:
                            example: "3126509816"
                            type: string
                          secret:
                            example: "secret"
                            type: string
                          documents:
                            type: array
                            items:
                              allOf:
                              - $ref: '#/components/schemas/Document'
                              - type: object
                                properties:
                                  type:
                                    example: "PASSPORT"
                                  number:
                                    example: "АА120518"
                                  expiration_date:
                                    example: "2021-02-28"
                                  issued_by:
                                    example: "Рокитнянським РВ ГУ МВС Київської області"
                                  issued_at:
                                    example: "2017-02-28"
                          addresses:
                            type: array
                            items:
                              allOf:
                              - $ref: '#/components/schemas/Address'
                              - type: object
                                properties:
                                  type:
                                    example: "RESIDENCE"
                                  country:
                                    example: "UA"
                                  area:
                                    example: "Житомирська"
                                  region:
                                    example: "Бердичівський"
                                  settlement:
                                    example: "Київ"
                                  settlement_type:
                                    example: "CITY"
                                  settlement_id:
                                    example: "b075f148-7f93-4fc2-b2ec-2d81b19a9b7b"
                                  street_type:
                                    example: "STREET"
                                  street:
                                    example: "вул. Ніжинська"
                                  building:
                                    example: "15"
                                  apartment:
                                    example: "23"
                                  zip:
                                    example: 2090
                          phones:
                            type: array
                            items:
                              allOf:
                              - $ref: '#/components/schemas/Phone'
                              - type: object
                                properties:
                                  type:
                                    example: "MOBILE"
                                  number:
                                    example: "+380503410870"
                          authentication_methods:
                            type: array
                            items:
                              allOf:
                              - $ref: '#/components/schemas/Authentication_Method'
                              - type: object
                                properties:
                                  type:
                                    example: "OTP"
                                  phone_number:
                                    example: "+38093*****85"
                          preferred_way_communication:
                            example: "email"
                            type: string
                            enum:
                              - email
                              - phone
                            description: the way how a patient wants to be reached
                          emergency_contact:
                            type: object
                            properties:
                              first_name:
                                example: "Петро"
                                type: string
                              last_name:
                                example: "Іванов"
                                type: string
                              second_name:
                                example: "Миколайович"
                                type: string
                              phones:
                                type: array
                                items:
                                  allOf:
                                  - $ref: '#/components/schemas/Phone'
                                  - type: object
                                    properties:
                                      type:
                                        example: "MOBILE"
                                      number:
                                        example: "+380503410870"
                            required:
                              - first_name
                              - last_name
                              - phones
                        required:
                          - id
                          - first_name
                          - last_name
                          - birth_date
                          - birth_country
                          - birth_settlement
                          - gender
                          - secret
                          - documents
                          - addresses
                          - authentication_methods
                          - emergency_contact
                      user:
                        type: object
                        properties:
                          id:
                            example: "7673eb5a-0cae-4fa8-9f81-e6da46aa2940"
                            type: string
                          tax_id:
                            example: "3000080053"
                            type: string
                        required:
                          - tax_id
                      token:
                        type: object
                        properties:
                          value:
                            example: "SnNRdCtvU0tTOENBV2dLRUZwNmIzZz09"
                            type: string
                            description: oAuth access token.
                          user_id:
                            example: "3ff33ced-69dc-415a-b231-c6446898335a"
                            type: string
                            description: User identifier
                          name:
                            example: "access_token"
                            type: string
                            description: oAuth token name
                          id:
                            example: "3ff33ced-69dc-415a-b231-c6446898335a"
                            type: string
                            description: oAuth token identifier
                          expires_at:
                            example: 1498749591
                            type: number
                            description: expiration date-time timestamp
                          details:
                            type: object
                            properties:
                              app_id:
                                example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                                type: string
                                description: Identifier of approval between user, applicant user and client that was used to issue access token
                              applicant_user_id:
                                example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                                type: string
                                description: Identifier of user that initiated access token generation
                              applicant_person_id:
                                example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                                type: string
                                description: Identifier of person that is accosiated with user who initiated access token generation
                              scope:
                                example: "capitation_contracts:view capitation_contracts:create patients:view patients:create"
                                type: string
                                description: List of scopes that is required in application business logic, separated by space
                              refresh_token:
                                example: "my-oauth-refresh-token"
                                type: string
                                description: oAuth refresh token
                              grant_type:
                                example: "pis_auth"
                                type: string
                              client_id:
                                example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                                type: string
                                description: Client ID of authorized user
                            required:
                              - scope
                              - refresh_token
                              - client_id
                        required:
                          - value
                          - user_id
                          - name
                          - expires_at
                    required:
                      - person
                      - user
                required:
                  - data
              example:
                meta:
                  code: 201
                  url: https://example.com/resource
                  type: object
                  request_id: 6617aeec-15e2-4d6f-b9bd-53559c358f97#17810
                data:
                  person:
                    id: 1380df72-275a-11e7-93ae-92361f002671
                    first_name: Петро
                    last_name: Іванов
                    second_name: Миколайович
                    birth_date: '1991-08-19'
                    birth_country: Україна
                    birth_settlement: Вінниця
                    gender: MALE
                    email: email@example.com
                    tax_id: '3126509816'
                    secret: secret
                    documents:
                      - type: PASSPORT
                        number: АА120518
                        expiration_date: '2021-02-28'
                        issued_by: Рокитнянським РВ ГУ МВС Київської області
                        issued_at: '2017-02-28'
                    addresses:
                      - type: RESIDENCE
                        country: UA
                        area: Житомирська
                        region: Бердичівський
                        settlement: Київ
                        settlement_type: CITY
                        settlement_id: b075f148-7f93-4fc2-b2ec-2d81b19a9b7b
                        street_type: STREET
                        street: вул. Ніжинська
                        building: '15'
                        apartment: '23'
                        zip: 2090
                    phones:
                      - type: MOBILE
                        number: '+380503410870'
                    authentication_methods:
                      - type: OTP
                        phone_number: +38093*****85
                    preferred_way_communication: email
                    emergency_contact:
                      first_name: Петро
                      last_name: Іванов
                      second_name: Миколайович
                      phones:
                        - type: MOBILE
                          number: '+380503410870'
                  user:
                    id: 7673eb5a-0cae-4fa8-9f81-e6da46aa2940
                    tax_id: '3000080053'
                  token:
                    value: SnNRdCtvU0tTOENBV2dLRUZwNmIzZz09
                    user_id: 3ff33ced-69dc-415a-b231-c6446898335a
                    name: access_token
                    id: 3ff33ced-69dc-415a-b231-c6446898335a
                    expires_at: 1498749591
                    details:
                      app_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                      applicant_user_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                      applicant_person_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                      scope: capitation_contracts:view capitation_contracts:create patients:view patients:create
                      refresh_token: my-oauth-refresh-token
                      grant_type: pis_auth
                      client_id: d290f1ee-6c54-4b01-90e6-d701748f0851
      summary: Patient sign-up
      operationId: Patient sign-up
      description: |-
        This endpoint is used to authenticate, create mpi record for patient if needed, create user for patient if needed, approve scopes and sign-in user.

        This endpoint must be used only by trusted PIS clients.

        Signed content must contain nonce that was generated for trusted PIS.

        Look at [**Dummy Patient sign-up**](/#ehealth-trusted-pis/tag/public-patient-information-system/POST/api/pis/sign-up/decoded-payload) for more details.
      tags:
        - Public. Patient Information System
      parameters:
        - name: api-key
          in: header
          description: e.g. uXhEczJ56adsfh3Ri9SUkc4en
          required: true
          schema:
            type: string
          example: uXhEczJ56adsfh3Ri9SUkc4en
      requestBody:
        content:
          application/json:
            example:
              signed_content: ewogICAgImZpcnN0X25hbWUiOiAi0J/QtdGC0YDQviIsCiAgICAibGFzdF9uYW1lIjogItCG0LLQsNC90L7QsiIsCiAgICAic2Vjb25kX25hbWUiOiAi0JzQuNC60L7Qu9Cw0LnQvtCy0LjRhyIsCiAgICAiYmlydGhfZGF0ZSI6ICIxOTkxLTA4LTE5IiwKICAgICJiaXJ0aF9jb3VudHJ5IjogItCj0LrRgNCw0ZfQvdCwIiwKICAgICJiaXJ0aF9zZXR0bGVtZW50IjogItCS0ZbQvdC90LjRhtGPIiwKICAgICJnZW5kZXIiOiAiTUFMRSIsCiAgICAiZW1haWwiOiAiZW1haWxAZXhhbXBsZS5jb20iLAogICAgInRheF9pZCI6ICIzMTI2NTA5ODE2IiwKICAgICJzZWNyZXQiOiAic2VjcmV0IiwKICAgICJkb2N1bWVudHMiOiBbCiAgICAgIHsKICAgICAgICAidHlwZSI6ICJQQVNTUE9SVCIsCiAgICAgICAgIm51bWJlciI6ICIxMjA1MTgiLAogICAgICAgICJpc3N1ZWRfYnkiOiAi0KDQvtC60LjRgtC90Y/QvdGB0YzQutC40Lwg0KDQkiDQk9CjINCc0JLQoSDQmtC40ZfQstGB0YzQutC+0Zcg0L7QsdC70LDRgdGC0ZYiLAogICAgICAgICJpc3N1ZWRfYXQiOiAiMjAxNy0wMi0yOCIKICAgICAgfQogICAgXSwKICAgICJhZGRyZXNzZXMiOiBbCiAgICAgIHsKICAgICAgICAidHlwZSI6ICJSRVNJREVOQ0UiLAogICAgICAgICJjb3VudHJ5IjogIlVBIiwKICAgICAgICAiYXJlYSI6ICLQltC40YLQvtC80LjRgNGB0YzQutCwIiwKICAgICAgICAicmVnaW9uIjogItCR0LXRgNC00LjRh9GW0LLRgdGM0LrQuNC5IiwKICAgICAgICAic2V0dGxlbWVudCI6ICLQmtC40ZfQsiIsCiAgICAgICAgInNldHRsZW1lbnRfdHlwZSI6ICJDSVRZIiwKICAgICAgICAic2V0dGxlbWVudF9pZCI6ICI0MzQzMjQzMiIsCiAgICAgICAgInN0cmVldF90eXBlIjogIlNUUkVFVCIsCiAgICAgICAgInN0cmVldCI6ICLQstGD0LsuINCd0ZbQttC40L3RgdGM0LrQsCIsCiAgICAgICAgImJ1aWxkaW5nIjogIjE1IiwKICAgICAgICAiYXBhcnRtZW50IjogIjIzIiwKICAgICAgICAiemlwIjogIjAyMDkwIgogICAgICB9CiAgICBdLAogICAgInBob25lcyI6IFsKICAgICAgewogICAgICAgICJ0eXBlIjogIk1PQklMRSIsCiAgICAgICAgIm51bWJlciI6ICIrMzgwNTAzNDEwODcwIgogICAgICB9CiAgICBdLAogICAgImF1dGhlbnRpY2F0aW9uX21ldGhvZHMiOiBbCiAgICAgIHsKICAgICAgICAidHlwZSI6ICJPVFAiLAogICAgICAgICJwaG9uZV9udW1iZXIiOiAiKzM4MDUwODg4NzcwMCIKICAgICAgfQogICAgXSwKICAgICJwcmVmZXJyZWRfd2F5X2NvbW11bmljYXRpb24iOiAiZW1haWwiLAogICAgImVtZXJnZW5jeV9jb250YWN0IjogewogICAgICAiZmlyc3RfbmFtZSI6ICLQn9C10YLRgNC+IiwKICAgICAgImxhc3RfbmFtZSI6ICLQhtCy0LDQvdC+0LIiLAogICAgICAic2Vjb25kX25hbWUiOiAi0JzQuNC60L7Qu9Cw0LnQvtCy0LjRhyIsCiAgICAgICJwaG9uZXMiOiBbCiAgICAgICAgewogICAgICAgICAgInR5cGUiOiAiTU9CSUxFIiwKICAgICAgICAgICJudW1iZXIiOiAiKzM4MDUwMzQxMDg3MCIKICAgICAgICB9CiAgICAgIF0KICAgIH0sCiAgICAicHJvY2Vzc19kaXNjbG9zdXJlX2RhdGFfY29uc2VudCI6IHRydWUKICB9Cn0=
              signed_content_encoding: base64
              otp: 1234
              token:
                grant_type: pis_auth
                client_id: 4fc161ad-5e3d-4c5e-9a9e-189e2ddffe56
                client_secret: UXhEczJacXh3Ri9SUkc4enhHTVVpQ119
                scope: declaration_request:read declaration_request:terminate declaration:read person:read app:read authentication_factor:read profile:read
            schema:
              type: object
              properties:
                signed_content_encoding:
                  example: "base64"
                  type: string
                otp:
                  example: 1234
                  type: number
                  description: optional OTP that was sent to authentication method phone number via `Verify phone number` method
                token:
                  type: object
                  properties:
                    grant_type:
                      example: "pis_auth"
                      type: string
                      enum:
                        - pis_auth
                      description: Auth Grant Type. Currently only `pis_auth` is supported.
                    client_id:
                      example: "4fc161ad-5e3d-4c5e-9a9e-189e2ddffe56"
                      type: string
                      description: Patient information system ID. Used to identify the context of the PIS.
                    client_secret:
                      example: "UXhEczJacXh3Ri9SUkc4enhHTVVpQ119"
                      type: string
                      description: Patient information system secret key issued upon integration request. Used to identify application developer.
                    scope:
                      example: "declaration_request:read declaration_request:terminate declaration:read person:read app:read authentication_factor:read profile:read"
                      type: string
                      description: List of scopes that is required in application business logic, separated by space.
                  required:
                    - grant_type
                    - client_id
                    - client_secret
                    - scope
              required:
                - signed_content
                - signed_content_encoding
                - token
        required: true
        description: |-
          <!-- signed-payload-xref -->
          > 🔒 **Signed content** — The request body is submitted as the base64 of a digitally-signed (КЕП / UA-EDS) document. Decoded payload schema: **[Payload: Patient sign-up](/#ehealth-trusted-pis/tag/public-patient-information-system/POST/api/pis/sign-up/decoded-payload)**.
          <!-- /signed-payload-xref -->

          **Signed request.** Send only **`signed_data`** — the base64 of a digitally-signed (КЕП / UA-EDS) document.

           The decoded structure of `signed_data` is `Person_Request_PIS`, [documented here](/#ehealth-trusted-pis/tag/public-patient-information-system/POST/api/pis/sign-up/decoded-payload).
      x-signed-content-schema: '#/components/schemas/Person_Request_PIS'
  /api/pis/sign-up/decoded-payload:
    post:
      tags:
        - Public. Patient Information System
      summary: 'Payload: Patient sign-up'
      operationId: dummy-post-api-pis-sign-up
      description: |-
        This is Apiary's own **Dummy** test-method body for this operation (`POST /dummy/pis/sign-up`) -- a plain (unsigned) `person` body plus a `jwt`, used for MIS integration testing instead of the real signed `Person_Request_PIS` content (verified separately). → [Patient sign-up](/#ehealth-trusted-pis/tag/public-patient-information-system/POST/api/pis/sign-up)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - person
                - patient_signed
                - process_disclosure_data_consent
                - jwt
              properties:
                person:
                  $ref: '#/components/schemas/Person_Request_PIS_DecodedPayload'
                patient_signed:
                  type: boolean
                  example: true
                process_disclosure_data_consent:
                  type: boolean
                  example: true
                jwt:
                  type: string
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InNwLnZpcm55QGdtYWlsLmNvbSIsInRpbWVzdGFtcCI6IjIwMTgtMDItMjggMTA6Mzg6MDAifQ.LJRLTqK-zf9gxDNMONcI8cMCSYosDtmAIZqhzZUdhz4
            example:
              person:
                first_name: Петро
                last_name: Іванов
                second_name: Миколайович
                birth_date: '2009-07-05'
                birth_country: Україна
                birth_settlement: Вінниця
                gender: MALE
                email: email@example.com
                no_tax_id: false
                tax_id: '3999869394'
                secret: secret
                documents:
                  - type: PASSPORT
                    number: АА120518
                    issued_by: Рокитнянським РВ ГУ МВС Київської області
                    issued_at: '2017-02-28'
                    expiration_date: '2027-02-28'
                addresses:
                  - type: RESIDENCE
                    country: UA
                    area: Житомирська
                    region: Бердичівський
                    settlement: Київ
                    settlement_type: CITY
                    settlement_id: b075f148-7f93-4fc2-b2ec-2d81b19a9b7b
                    street_type: STREET
                    street: вул. Ніжинська
                    building: '15'
                    apartment: '23'
                    zip: '02090'
                phones:
                  - type: MOBILE
                    number: '+380503410870'
                authentication_methods:
                  - type: OTP
                    phone_number: '+380508887700'
                unzr: 20090705-00011
                emergency_contact:
                  first_name: Петро
                  last_name: Іванов
                  second_name: Миколайович
                  phones:
                    - type: MOBILE
                      number: '+380503410870'
                preferred_way_communication: email
              patient_signed: true
              process_disclosure_data_consent: true
              jwt: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InNwLnZpcm55QGdtYWlsLmNvbSIsInRpbWVzdGFtcCI6IjIwMTgtMDItMjggMTA6Mzg6MDAifQ.LJRLTqK-zf9gxDNMONcI8cMCSYosDtmAIZqhzZUdhz4
      responses:
        '200':
          description: Success
  /api/pis/confidant/sign-up:
    post:
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: 201
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  data:
                    type: object
                    properties:
                      person:
                        type: object
                        properties:
                          id:
                            example: "1380df72-275a-11e7-93ae-92361f002671"
                            type: string
                          first_name:
                            example: "Петро"
                            type: string
                          last_name:
                            example: "Іванов"
                            type: string
                          second_name:
                            example: "Миколайович"
                            type: string
                          birth_date:
                            example: "1991-08-19"
                            type: string
                          birth_country:
                            example: "Україна"
                            type: string
                          birth_settlement:
                            example: "Вінниця"
                            type: string
                          gender:
                            example: "MALE"
                            type: string
                            enum:
                              - MALE
                              - FEMALE
                          email:
                            example: "email@example.com"
                            type: string
                          tax_id:
                            example: "3126509816"
                            type: string
                          secret:
                            example: "secret"
                            type: string
                          documents:
                            type: array
                            items:
                              allOf:
                              - $ref: '#/components/schemas/Document'
                              - type: object
                                properties:
                                  type:
                                    example: "PASSPORT"
                                  number:
                                    example: "АА120518"
                                  expiration_date:
                                    example: "2021-02-28"
                                  issued_by:
                                    example: "Рокитнянським РВ ГУ МВС Київської області"
                                  issued_at:
                                    example: "2017-02-28"
                          addresses:
                            type: array
                            items:
                              allOf:
                              - $ref: '#/components/schemas/Address'
                              - type: object
                                properties:
                                  type:
                                    example: "RESIDENCE"
                                  country:
                                    example: "UA"
                                  area:
                                    example: "Житомирська"
                                  region:
                                    example: "Бердичівський"
                                  settlement:
                                    example: "Київ"
                                  settlement_type:
                                    example: "CITY"
                                  settlement_id:
                                    example: "b075f148-7f93-4fc2-b2ec-2d81b19a9b7b"
                                  street_type:
                                    example: "STREET"
                                  street:
                                    example: "вул. Ніжинська"
                                  building:
                                    example: "15"
                                  apartment:
                                    example: "23"
                                  zip:
                                    example: 2090
                          phones:
                            type: array
                            items:
                              allOf:
                              - $ref: '#/components/schemas/Phone'
                              - type: object
                                properties:
                                  type:
                                    example: "MOBILE"
                                  number:
                                    example: "+380503410870"
                          authentication_methods:
                            type: array
                            items:
                              allOf:
                              - $ref: '#/components/schemas/Authentication_Method'
                              - type: object
                                properties:
                                  type:
                                    example: "OTP"
                                  phone_number:
                                    example: "+38093*****85"
                          preferred_way_communication:
                            example: "email"
                            type: string
                            enum:
                              - email
                              - phone
                            description: the way how a patient wants to be reached
                          emergency_contact:
                            type: object
                            properties:
                              first_name:
                                example: "Петро"
                                type: string
                              last_name:
                                example: "Іванов"
                                type: string
                              second_name:
                                example: "Миколайович"
                                type: string
                              phones:
                                type: array
                                items:
                                  allOf:
                                  - $ref: '#/components/schemas/Phone'
                                  - type: object
                                    properties:
                                      type:
                                        example: "MOBILE"
                                      number:
                                        example: "+380503410870"
                            required:
                              - first_name
                              - last_name
                              - phones
                        required:
                          - id
                          - first_name
                          - last_name
                          - birth_date
                          - birth_country
                          - birth_settlement
                          - gender
                          - secret
                          - documents
                          - addresses
                          - authentication_methods
                          - emergency_contact
                      user:
                        type: object
                        properties:
                          id:
                            example: "7673eb5a-0cae-4fa8-9f81-e6da46aa2940"
                            type: string
                          tax_id:
                            example: "3000080053"
                            type: string
                        required:
                          - tax_id
                      token:
                        type: object
                        properties:
                          value:
                            example: "SnNRdCtvU0tTOENBV2dLRUZwNmIzZz09"
                            type: string
                            description: oAuth access token.
                          user_id:
                            example: "3ff33ced-69dc-415a-b231-c6446898335a"
                            type: string
                            description: User identifier
                          name:
                            example: "access_token"
                            type: string
                            description: oAuth token name
                          id:
                            example: "3ff33ced-69dc-415a-b231-c6446898335a"
                            type: string
                            description: oAuth token identifier
                          expires_at:
                            example: 1498749591
                            type: number
                            description: expiration date-time timestamp
                          details:
                            type: object
                            properties:
                              app_id:
                                example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                                type: string
                                description: Identifier of approval between user, applicant user and client that was used to issue access token
                              applicant_user_id:
                                example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                                type: string
                                description: Identifier of user that initiated access token generation
                              applicant_person_id:
                                example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                                type: string
                                description: Identifier of person that is accosiated with user who initiated access token generation
                              scope:
                                example: "capitation_contracts:view capitation_contracts:create patients:view patients:create"
                                type: string
                                description: List of scopes that is required in application business logic, separated by space
                              refresh_token:
                                example: "my-oauth-refresh-token"
                                type: string
                                description: oAuth refresh token
                              grant_type:
                                example: "pis_auth"
                                type: string
                              client_id:
                                example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                                type: string
                                description: Client ID of authorized user
                            required:
                              - scope
                              - refresh_token
                              - client_id
                        required:
                          - value
                          - user_id
                          - name
                          - expires_at
                    required:
                      - person
                      - user
                required:
                  - data
              example:
                meta:
                  code: 201
                  url: https://example.com/resource
                  type: object
                  request_id: 6617aeec-15e2-4d6f-b9bd-53559c358f97#17810
                data:
                  person:
                    id: 1380df72-275a-11e7-93ae-92361f002671
                    first_name: Петро
                    last_name: Іванов
                    second_name: Миколайович
                    birth_date: '1991-08-19'
                    birth_country: Україна
                    birth_settlement: Вінниця
                    gender: MALE
                    email: email@example.com
                    tax_id: '3126509816'
                    secret: secret
                    documents:
                      - type: PASSPORT
                        number: АА120518
                        expiration_date: '2021-02-28'
                        issued_by: Рокитнянським РВ ГУ МВС Київської області
                        issued_at: '2017-02-28'
                    addresses:
                      - type: RESIDENCE
                        country: UA
                        area: Житомирська
                        region: Бердичівський
                        settlement: Київ
                        settlement_type: CITY
                        settlement_id: b075f148-7f93-4fc2-b2ec-2d81b19a9b7b
                        street_type: STREET
                        street: вул. Ніжинська
                        building: '15'
                        apartment: '23'
                        zip: 2090
                    phones:
                      - type: MOBILE
                        number: '+380503410870'
                    authentication_methods:
                      - type: OTP
                        phone_number: +38093*****85
                    preferred_way_communication: email
                    emergency_contact:
                      first_name: Петро
                      last_name: Іванов
                      second_name: Миколайович
                      phones:
                        - type: MOBILE
                          number: '+380503410870'
                  user:
                    id: 7673eb5a-0cae-4fa8-9f81-e6da46aa2940
                    tax_id: '3000080053'
                  token:
                    value: SnNRdCtvU0tTOENBV2dLRUZwNmIzZz09
                    user_id: 3ff33ced-69dc-415a-b231-c6446898335a
                    name: access_token
                    id: 3ff33ced-69dc-415a-b231-c6446898335a
                    expires_at: 1498749591
                    details:
                      app_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                      applicant_user_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                      applicant_person_id: d290f1ee-6c54-4b01-90e6-d701748f0851
                      scope: capitation_contracts:view capitation_contracts:create patients:view patients:create
                      refresh_token: my-oauth-refresh-token
                      grant_type: pis_auth
                      client_id: d290f1ee-6c54-4b01-90e6-d701748f0851
      summary: Confidant patient sign-up
      operationId: Confidant patient sign-up
      description: |-
        This endpoint is used to register patient (Legally Incapacitated) in the system by the hands of their confidant patient

        > Note: It could be done ONLY when the system is able to validate their relation using trusted external DBs (eg. GOV services)

        This endpoint must be used only by trusted PIS clients.

        Signed content must contain patient data needed to create new MPI record

        Look at [**Dummy Confidant patient sign-up**](/#ehealth-trusted-pis/tag/public-patient-information-system/POST/api/pis/confidant/sign-up/decoded-payload) for more details.
      tags:
        - Public. Patient Information System
      parameters:
        - name: api-key
          in: header
          description: e.g. uXhEczJ56adsfh3Ri9SUkc4en
          required: true
          schema:
            type: string
          example: uXhEczJ56adsfh3Ri9SUkc4en
      requestBody:
        content:
          application/json:
            example:
              signed_content: ewogICAgImZpcnN0X25hbWUiOiAi0J/QtdGC0YDQviIsCiAgICAibGFzdF9uYW1lIjogItCG0LLQsNC90L7QsiIsCiAgICAic2Vjb25kX25hbWUiOiAi0JzQuNC60L7Qu9Cw0LnQvtCy0LjRhyIsCiAgICAiYmlydGhfZGF0ZSI6ICIxOTkxLTA4LTE5IiwKICAgICJiaXJ0aF9jb3VudHJ5IjogItCj0LrRgNCw0ZfQvdCwIiwKICAgICJiaXJ0aF9zZXR0bGVtZW50IjogItCS0ZbQvdC90LjRhtGPIiwKICAgICJnZW5kZXIiOiAiTUFMRSIsCiAgICAiZW1haWwiOiAiZW1haWxAZXhhbXBsZS5jb20iLAogICAgInRheF9pZCI6ICIzMTI2NTA5ODE2IiwKICAgICJzZWNyZXQiOiAic2VjcmV0IiwKICAgICJkb2N1bWVudHMiOiBbCiAgICAgIHsKICAgICAgICAidHlwZSI6ICJQQVNTUE9SVCIsCiAgICAgICAgIm51bWJlciI6ICIxMjA1MTgiLAogICAgICAgICJpc3N1ZWRfYnkiOiAi0KDQvtC60LjRgtC90Y/QvdGB0YzQutC40Lwg0KDQkiDQk9CjINCc0JLQoSDQmtC40ZfQstGB0YzQutC+0Zcg0L7QsdC70LDRgdGC0ZYiLAogICAgICAgICJpc3N1ZWRfYXQiOiAiMjAxNy0wMi0yOCIKICAgICAgfQogICAgXSwKICAgICJhZGRyZXNzZXMiOiBbCiAgICAgIHsKICAgICAgICAidHlwZSI6ICJSRVNJREVOQ0UiLAogICAgICAgICJjb3VudHJ5IjogIlVBIiwKICAgICAgICAiYXJlYSI6ICLQltC40YLQvtC80LjRgNGB0YzQutCwIiwKICAgICAgICAicmVnaW9uIjogItCR0LXRgNC00LjRh9GW0LLRgdGM0LrQuNC5IiwKICAgICAgICAic2V0dGxlbWVudCI6ICLQmtC40ZfQsiIsCiAgICAgICAgInNldHRsZW1lbnRfdHlwZSI6ICJDSVRZIiwKICAgICAgICAic2V0dGxlbWVudF9pZCI6ICI0MzQzMjQzMiIsCiAgICAgICAgInN0cmVldF90eXBlIjogIlNUUkVFVCIsCiAgICAgICAgInN0cmVldCI6ICLQstGD0LsuINCd0ZbQttC40L3RgdGM0LrQsCIsCiAgICAgICAgImJ1aWxkaW5nIjogIjE1IiwKICAgICAgICAiYXBhcnRtZW50IjogIjIzIiwKICAgICAgICAiemlwIjogIjAyMDkwIgogICAgICB9CiAgICBdLAogICAgInBob25lcyI6IFsKICAgICAgewogICAgICAgICJ0eXBlIjogIk1PQklMRSIsCiAgICAgICAgIm51bWJlciI6ICIrMzgwNTAzNDEwODcwIgogICAgICB9CiAgICBdLAogICAgImF1dGhlbnRpY2F0aW9uX21ldGhvZHMiOiBbCiAgICAgIHsKICAgICAgICAidHlwZSI6ICJPVFAiLAogICAgICAgICJwaG9uZV9udW1iZXIiOiAiKzM4MDUwODg4NzcwMCIKICAgICAgfQogICAgXSwKICAgICJwcmVmZXJyZWRfd2F5X2NvbW11bmljYXRpb24iOiAiZW1haWwiLAogICAgImVtZXJnZW5jeV9jb250YWN0IjogewogICAgICAiZmlyc3RfbmFtZSI6ICLQn9C10YLRgNC+IiwKICAgICAgImxhc3RfbmFtZSI6ICLQhtCy0LDQvdC+0LIiLAogICAgICAic2Vjb25kX25hbWUiOiAi0JzQuNC60L7Qu9Cw0LnQvtCy0LjRhyIsCiAgICAgICJwaG9uZXMiOiBbCiAgICAgICAgewogICAgICAgICAgInR5cGUiOiAiTU9CSUxFIiwKICAgICAgICAgICJudW1iZXIiOiAiKzM4MDUwMzQxMDg3MCIKICAgICAgICB9CiAgICAgIF0KICAgIH0sCiAgICAicHJvY2Vzc19kaXNjbG9zdXJlX2RhdGFfY29uc2VudCI6IHRydWUKICB9Cn0=
              signed_content_encoding: base64
              token:
                grant_type: pis_auth
                client_id: 4fc161ad-5e3d-4c5e-9a9e-189e2ddffe56
                client_secret: UXhEczJacXh3Ri9SUkc4enhHTVVpQ119
                scope: declaration_request:read declaration_request:terminate declaration:read person:read app:read authentication_factor:read profile:read
            schema:
              type: object
              properties:
                signed_content_encoding:
                  example: "base64"
                  type: string
                token:
                  type: object
                  properties:
                    grant_type:
                      example: "pis_auth"
                      type: string
                      enum:
                        - pis_auth
                      description: Auth Grant Type. Currently only `pis_auth` is supported.
                    client_id:
                      example: "4fc161ad-5e3d-4c5e-9a9e-189e2ddffe56"
                      type: string
                      description: Patient information system ID. Used to identify the context of the PIS.
                    client_secret:
                      example: "UXhEczJacXh3Ri9SUkc4enhHTVVpQ119"
                      type: string
                      description: Patient information system secret key issued upon integration request. Used to identify application developer.
                    scope:
                      example: "declaration_request:read declaration_request:terminate declaration:read person:read app:read authentication_factor:read profile:read"
                      type: string
                      description: List of scopes that is required in application business logic, separated by space.
                  required:
                    - grant_type
                    - client_id
                    - client_secret
                    - scope
              required:
                - signed_content
                - signed_content_encoding
                - token
        required: true
        description: |-
          <!-- signed-payload-xref -->
          > 🔒 **Signed content** — The request body is submitted as the base64 of a digitally-signed (КЕП / UA-EDS) document. Decoded payload schema: **[Payload: Confidant patient sign-up](/#ehealth-trusted-pis/tag/public-patient-information-system/POST/api/pis/confidant/sign-up/decoded-payload)**.
          <!-- /signed-payload-xref -->

          **Signed request.** Send only **`signed_data`** — the base64 of a digitally-signed (КЕП / UA-EDS) document.

           The decoded structure of `signed_data` is `Person_Request_PIS_With_Confidant`, [documented here](/#ehealth-trusted-pis/tag/public-patient-information-system/POST/api/pis/confidant/sign-up/decoded-payload).
      x-signed-content-schema: '#/components/schemas/Person_Request_PIS_With_Confidant'
  /api/pis/confidant/sign-up/decoded-payload:
    post:
      tags:
        - Public. Patient Information System
      summary: 'Payload: Confidant patient sign-up'
      operationId: dummy-post-api-pis-confidant-sign-up
      description: |-
        This is Apiary's own **Dummy** test-method body for this operation (`POST /dummy/pis/confidant/sign-up`) -- a plain (unsigned) `person` body, used for MIS integration testing instead of the real signed `Person_Request_PIS_With_Confidant` content (verified separately). → [Confidant patient sign-up](/#ehealth-trusted-pis/tag/public-patient-information-system/POST/api/pis/confidant/sign-up)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - person
                - patient_signed
                - process_disclosure_data_consent
              properties:
                person:
                  $ref: '#/components/schemas/Person_Request_PIS_With_Confidant_DecodedPayload'
                patient_signed:
                  type: boolean
                  example: true
                process_disclosure_data_consent:
                  type: boolean
                  example: true
            example:
              person:
                first_name: Петро
                last_name: Іванов
                second_name: Миколайович
                birth_date: '2009-07-05'
                birth_country: Україна
                birth_settlement: Вінниця
                gender: MALE
                email: email@example.com
                no_tax_id: false
                tax_id: '3999869394'
                secret: secret
                documents:
                  - type: BIRTH_CERTIFICATE
                    number: АА120518
                    issued_by: Рокитнянським РВ ГУ МВС Київської області
                    issued_at: '2017-02-28'
                    expiration_date: '2027-02-28'
                addresses:
                  - type: RESIDENCE
                    country: UA
                    area: Житомирська
                    region: Бердичівський
                    settlement: Київ
                    settlement_type: CITY
                    settlement_id: b075f148-7f93-4fc2-b2ec-2d81b19a9b7b
                    street_type: STREET
                    street: вул. Ніжинська
                    building: '15'
                    apartment: '23'
                    zip: '02090'
                phones:
                  - type: MOBILE
                    number: '+380503410870'
                authentication_methods:
                  - type: THIRD_PERSON
                    value: c282f8a9-e709-40aa-94b4-dde1402bf4b6
                    alias: husband
                unzr: 20090705-00011
                emergency_contact:
                  first_name: Петро
                  last_name: Іванов
                  second_name: Миколайович
                  phones:
                    - type: MOBILE
                      number: '+380503410870'
                preferred_way_communication: email
                confidant_person:
                  person_id: b075f148-7f93-4fc2-b2ec-2d81b19a9b7b
                  relation_type: PRIMARY
                  documents_relationship:
                    - type: BIRTH_CERTIFICATE
                      number: АА120518
                      issued_by: Рокитнянським РВ ГУ МВС Київської області
                      issued_at: '2017-02-28'
              patient_signed: true
              process_disclosure_data_consent: true
      responses:
        '200':
          description: Success
  /api/pis/trusted/person_requests:
    post:
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/Response__Meta'
                    - type: object
                      properties:
                        code:
                          example: 201
                        url:
                          example: "https://example.com/resource"
                        type:
                          example: "object"
                        request_id:
                          example: "6617aeec-15e2-4d6f-b9bd-53559c358f97#17810"
                  data:
                    type: object
                    properties:
                      id:
                        example: "b075f148-7f93-4fc2-b2ec-2d81b19a9b7b"
                        type: string
                      status:
                        example: "APPROVED"
                        type: string
                        enum:
                          - NEW
                          - APPROVED
                          - SIGNED
                          - REJECTED
                          - EXPIRED
                          - CANCELED
                      channel:
                        example: "PIS"
                        type: string
                      inserted_at:
                        example: "2021-11-09T00:00:00.000Z"
                        type: string
                        description: ISO Datetime
                      updated_at:
                        example: "2021-11-09T00:00:00.000Z"
                        type: string
                        description: ISO Datetime
                      patient_signed:
                        example: true
                        type: boolean
                      process_disclosure_data_consent:
                        example: true
                        type: boolean
                      content:
                        example: "Person content"
                        type: string
                        description: HTML document
                      person:
                        type: object
                        properties:
                          id:
                            example: "7e9cffd9-c75f-45fb-badf-6e8d20b6a8a8"
                            type: string
                            description: person id
                          first_name:
                            example: "Петро"
                            type: string
                          last_name:
                            example: "Іванов"
                            type: string
                          second_name:
                            example: "Миколайович"
                            type: string
                          birth_date:
                            example: "1991-08-19"
                            type: string
                          birth_country:
                            example: "Україна"
                            type: string
                          birth_settlement:
                            example: "Вінниця"
                            type: string
                          gender:
                            example: "MALE"
                            type: string
                            enum:
                              - MALE
                              - FEMALE
                          email:
                            example: "email@example.com"
                            type: string
                          tax_id:
                            example: "3126509816"
                            type: string
                          no_tax_id:
                            example: true
                            type: boolean
                          secret:
                            example: "secret"
                            type: string
                          documents:
                            type: array
                            items:
                              allOf:
                              - $ref: '#/components/schemas/Document'
                              - type: object
                                properties:
                                  type:
                                    example: "PASSPORT"
                                  number:
                                    example: "АА120518"
                                  expiration_date:
                                    example: "2021-02-28"
                                  issued_by:
                                    example: "Рокитнянським РВ ГУ МВС Київської області"
                                  issued_at:
                                    example: "2017-02-28"
                          addresses:
                            type: array
                            items:
                              allOf:
                              - $ref: '#/components/schemas/Address'
                              - type: object
                                properties:
                                  type:
                                    example: "RESIDENCE"
                                  country:
                                    example: "UA"
                                  area:
                                    example: "Житомирська"
                                  region:
                                    example: "Бердичівський"
                                  settlement:
                                    example: "Київ"
                                  settlement_type:
                                    example: "CITY"
                                  settlement_id:
                                    example: "b075f148-7f93-4fc2-b2ec-2d81b19a9b7b"
                                  street_type:
                                    example: "STREET"
                                  street:
                                    example: "вул. Ніжинська"
                                  building:
                                    example: "15"
                                  apartment:
                                    example: "23"
                                  zip:
                                    example: 2090
                          phones:
                            type: array
                            items:
                              allOf:
                              - $ref: '#/components/schemas/Phone'
                              - type: object
                                properties:
                                  type:
                                    example: "MOBILE"
                                  number:
                                    example: "+380503410870"
                          preferred_way_communication:
                            example: "email"
                            type: string
                            enum:
                              - email
                              - phone
                            description: the way how a patient wants to be reached
                          unzr:
                            example: "19900101-00099"
                            type: string
                          emergency_contact:
                            type: object
                            properties:
                              first_name:
                                example: "Петро"
                                type: string
                              last_name:
                                example: "Іванов"
                                type: string
                              second_name:
                                example: "Миколайович"
                                type: string
                              phones:
                                type: array
                                items:
                                  allOf:
                                  - $ref: '#/components/schemas/Phone'
                                  - type: object
                                    properties:
                                      type:
                                        example: "MOBILE"
                                      number:
                                        example: "+380503410870"
                            required:
                              - first_name
                              - last_name
                              - phones
                        required:
                          - id
                          - first_name
                          - last_name
                          - birth_date
                          - birth_country
                          - birth_settlement
                          - gender
                          - no_tax_id
                          - secret
                          - documents
                          - addresses
[...]
